<app-navbar></app-navbar>

<div class="row p-0 m-0">
  <div class="col-auto m-0 p-0 bg-custom-light">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="col m-0 bg-custom-white">
    <!-- Página home -->
    <div class="container">

      <!-- Botão de voltar -->
      <div class="row m-0 justify-content-start mt-4">
        <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema">
          <i class="bi-arrow-left fs-3 text-secondary"></i>
        </a>
      </div>

      <div class="row mt-4 m-0 p-0">

        <!-- Botão Adicionar -->
        <div class="col-4 px-2 p-0 m-0">
          <a class="rounded-15 py-1 px-4 bg-custom-success h-100 d-flex justify-content-between shadow-sm" routerLink="/sistema/vendas/vendas-diretas/cadastro">
            <h5 class="fw-normal my-auto text-truncate text-custom-dark ">Adicionar</h5>
            <i class="bi-plus my-auto fs-2 p-0 m-0 fw-bold text-custom-dark "></i>
          </a>
        </div>

        <div class="col-4 px-2 p-0 m-0 form-floating">
          <input [value]="dados.gerados.valor | currency: 'BRL'" font="montserrat" class="form-control form-control-lg border-0 h-100 pb-2 pt-3 ps-4 pe-5 rounded-15 shadow-sm text-center bg-white text-custom-dark" id="gerados" readonly type="text">
          <label class="ms-2 small text-truncate" for="gerados">{{dados.gerados.qtd}} pedidos gerados</label>
        </div>

        <div class="col-4 px-2 p-0 m-0 form-floating">
          <input [value]="dados.digitacao.valor | currency: 'BRL'" font="montserrat" class="form-control form-control-lg border-0 h-100 pb-2 pt-3 ps-4 pe-5 rounded-15 shadow-sm text-center bg-white text-custom-dark" id="gerados" readonly type="text">
          <label class="ms-2 small text-truncate" for="gerados">{{dados.digitacao.qtd}} pedidos em digitação</label>
        </div>


      </div>

      <!-- Tabela de contas -->
      <div class="table-responsive mt-5">
        <table class="table text-custom-dark">
          <thead>
            <tr>
              <th scope="col">Cód.</th>
              <th scope="col">Data</th>
              <th scope="col">Loja</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Cliente</th>
              <th scope="col">Valor</th>
              <th scope="col">
                <i class="fs-5 bi-search icon-search px-2 py-1 bg-white shadow-sm rounded-5" cursor="pointer"></i>
                <i class="fs-5 bi-funnel icon-filter px-2 py-1 ms-2 bg-white shadow-sm rounded-5" cursor="pointer"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="align-items-center" *ngFor="let pedidos of pedidos">
              <th scope="row justify-content-center">{{ pedidos.codigo }}</th>
              <td>{{ pedidos.data }}</td>
              <td>{{ pedidos.loja }}</td>
              <td>{{ pedidos.vendedor }}</td>
              <td>{{ pedidos.cliente }}</td>
              <td>{{ pedidos.valor | currency:'BRL'}}</td>
              <td>
                <i class="fs-5 bi-eye-fill icon-view px-2 py-1" cursor="pointer"></i>
                <i class="fs-5 bi-pen-fill icon-edit px-2 py-1 ms-2" cursor="pointer"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /Tabela de contas -->
    </div>
  </div>
</div>
