<!-- Modal -->
<div class="modal fade" #opt id="editPermission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  bg-custom-light">
            <div class="modal-header">
                <h5 class="modal-title text-custom-dark" id="addFilialLabel">Editar permissão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <div class="my-4 px-4 pt-0 p-0 m-0 form-floating">
                    <input class="form-control form-control-lg h-limited px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Filial" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="h-limited btn rounded-15 py-1 px-4 bg-custom-success d-flex justify-content-center align-items-center shadow-sm"
                    data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>