<!-- Modal -->
<div class="modal fade" #opt id="editPermission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <form [formGroup]="permissionForm" (ngSubmit)="submitForm(permissionForm)" class="modal-content  bg-custom-light">
            <div class="modal-header">
                <h5 class="modal-title text-custom-dark" id="editPermissionLabel">Editar permissão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="w-100 row justify-content-center">
                <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
                    <input
                      class="form-control form-control-lg h-limited px-4 py-3 rounded-15 shadow-sm"
                      type="text"
                      placeholder="Nome"
                      formControlName="name"
                    />
                    <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                      >Nome</label
                    >
                  </div>
            </div>
            <!-- Títulos da Tabela -->
            <div class="row m-0 my-5 text-custom-dark justify-content-center">
                <div class="col-3 text-center">
                    <h5 class="fw-bold">Área</h5>  
                </div>
                <div class="col-3 text-center">
                    <h5 class="fw-bold">Editar</h5>
                </div>
                <div class="col-3 text-center">
                    <h5 class="fw-bold">Excluir</h5>
                </div>
                <div class="col-3 text-center">
                    <h5 class="fw-bold">Visualizar</h5>
                </div>
            </div>

            <!-- Tabela -->
            <div class="row m-0 mt-3 border-bottom text-custom-dark justify-content-center" *ngFor="let item of areas">
                <div class="col-3 text-center">
                    <p>{{item.name}}</p>
                </div>
                <div class="col-3 text-center">
                    <input type="checkbox" id="checkbox" class="checkbox-permission" *ngIf="permissionCheck(permission.permission, item.edit)" checked (click)="addPermission(item.edit, $event)">
                    <input type="checkbox" id="checkbox" class="checkbox-permission" *ngIf="!(permissionCheck(permission.permission, item.edit))" (click)="addPermission(item.edit, $event)">
                </div>
                <div class="col-3 text-center">
                    <input type="checkbox" id="checkbox" class="checkbox-permission" *ngIf="permissionCheck(permission.permission, item.delete)" checked (click)="addPermission(item.edit, $event)">
                    <input type="checkbox" id="checkbox" class="checkbox-permission" *ngIf="!(permissionCheck(permission.permission, item.delete))" (click)="addPermission(item.edit, $event)">
                </div>
                <div class="col-3 text-center">
                    <input type="checkbox" id="checkbox" class="checkbox-permission" *ngIf="permissionCheck(permission.permission, item.view)" checked (click)="addPermission(item.view, $event)">
                    <input type="checkbox" id="checkbox" class="checkbox-permission" *ngIf="!(permissionCheck(permission.permission, item.view))" (click)="addPermission(item.edit, $event)">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit"
                    class="h-limited btn rounded-15 py-1 px-4 bg-custom-success d-flex justify-content-center align-items-center shadow-sm">Salvar</button>
            </div>
        </form>
    </div>
</div>