<app-navbar></app-navbar>

<div class="row p-0 m-0">
  <div class="col-auto m-0 p-0 bg-custom-light">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="col m-0 bg-custom-white">
    <!-- Página home -->
    <div class="container pb-5">

      <!-- Botão de voltar -->
      <div class="row m-0 justify-content-start mt-4">
        <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/vendas/pedidos">
          <i class="bi-arrow-left fs-3 text-secondary"></i>
        </a>
      </div>

      <div class="row m-0 mt-4 py-3 border-bottom">
        <div class="col-12 m-0 p-0 text-custom-dark">
          <h4>Criar pedido</h4>
        </div>
      </div>

      <form>

        <!-- Criar pedido -->
        <div class="row">

          <!-- Data -->
          <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
            <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="date" placeholder="Data de nascimento" [max]="getDate()">
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Data</label>
          </div>

          <!-- Loja -->
          <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
            <select class="form-select form-select-lg h-100 px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Loja">
              <option value="" disabled selected>Selecione uma loja</option>
              <option value="Loja 1">Loja 1</option>
              <option value="Loja 2">Loja 2</option>
            </select>
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Loja</label>
          </div>

          <!-- Vendedor -->
          <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
            <select class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Vendedor">
              <option value="" disabled selected>Selecione um vendedor</option>
              <option value="Vendedor 1">Vendedor 1</option>
              <option value="Vendedor 2">Vendedor 2</option>
            </select>
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Vendedor</label>
          </div>

          <!-- Dados do cliente -->
          <div class="col-8 px-2 pt-4 p-0 m-0 form-floating">
            <select class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Cliente">
              <option value="" disabled selected>Selecione um cliente</option>
              <option *ngFor="let cliente of clientes;" [value]="cliente.nome">{{cliente.nome}}</option>
            </select>
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Dados do cliente</label>
          </div>

          <!-- Botão adicionar cliente -->
          <div class="col-4 px-2 mt-4 p-0 m-0 d-grid">
            <a type="button" class="h-limited btn rounded-15 py-1 px-4 bg-custom-success d-flex justify-content-between shadow-sm" routerLink="/sistema/vendas/clientes/cadastro">
              <h5 class="fw-normal my-auto text-truncate text-custom-dark">Adicionar cliente</h5>
              <i class="bi-plus my-auto fs-2 p-0 m-0 fw-bold text-custom-dark"></i>
            </a>
          </div>

        </div>

        <!-- Dados da venda -->
        <div class="row mt-4 justify-content-end">

          <div class="col-12 py-4 border-bottom">
            <h4 class="m-0 text-custom-dark">Dados da venda</h4>
          </div>

          <!-- Condição de pagamento -->
          <div class="col-4 p-0 m-0">

            <div class="pt-4 px-2 form-floating">
              <select #condicao (change)="log(condicao)" class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Condição de pagamento">
                <option value="" disabled selected>Selecione uma condição</option>
                <option value="Loja 1">À vista</option>
                <option value="Loja 2">Parcelado</option>
                <option value="personalizado">Personalizado</option>
              </select>
              <label class="ms-2 mt-3 small text-truncate text-custom-dark">Selecione a condição de pagamento</label>
            </div>

            <div *ngIf="condicao.value === 'personalizado'" class="pt-4 px-2 form-floating">
              <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Condição personalizada">
              <label class="ms-2 mt-3 small text-truncate text-custom-dark">Condição personalizada</label>
            </div>
          </div>

          <!-- Tabela de preço -->
          <div class="col-4 p-0 m-0">
            <div class="pt-4 px-2 form-floating">
              <select #tabela (change)="log(tabela)" class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Tabelas">
                <option value="" disabled selected>Selecione uma tabela</option>
                <option value="Tabela A">Tabela A</option>
                <option value="Tabela B">Tabela B</option>
                <option value="Tabela C">Tabela C</option>
                <option value="Tabela D">Tabela D</option>
                <option value="Tabela E">Tabela E</option>
                <option value="personalizado">Personalizado</option>
              </select>
              <label class="ms-2 mt-3 small text-truncate text-custom-dark">Tabela de preço aplicada</label>
            </div>

            <div *ngIf="tabela.value === 'personalizado'" class="pt-4 px-2 form-floating">
              <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Tabela personalizada">
              <label class="ms-2 mt-3 small text-truncate text-custom-dark">Tabela personalizada</label>
            </div>
          </div>

          <!-- Desconto máximo -->
          <div class="col-4 p-0 m-0">
            <div class="form-floating pt-4 px-2">
              <input currencyMask [value]="desconto | currency: 'BRL'" class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Desconto máximo">
              <label class="ms-2 mt-3 small text-truncate text-custom-dark">Desconto máximo</label>
            </div>

            <div class="d-grid pt-4 px-2">
              <button type="button" class="h-limited btn rounded-15 py-1 px-4 bg-custom-success d-flex justify-content-between shadow-sm" data-bs-toggle="modal" data-bs-target="#selecionarProdutos">
                <h5 class="fw-normal my-auto text-truncate text-custom-dark">Selecionar produto(s)</h5>
                <i class="bi-plus my-auto fs-2 p-0 m-0 fw-bold text-custom-dark"></i>
              </button>
            </div>
          </div>

          <!-- Botão adicionar produto -->
          <div class="col-4 px-2 mt-4 p-0 m-0 d-grid">
          </div>

        </div>

        <!-- Itens -->
        <div class="row mt-4">
          <div class="col-12 py-4 border-bottom">
            <h4 class="m-0 text-custom-dark">Itens</h4>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table text-custom-dark">
            <thead>
              <tr>
                <th scope="col">Cód.</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor unitário</th>
                <th scope="col">Desconto tabela</th>
                <th scope="col">Desconto adicional</th>
                <th scope="col">Valor venda</th>
                <th scope="col">Tipo de retirada</th>
                <th scope="col">Data prev. da retirada</th>
                <th scope="col">Endereço</th>
                <th scope="col">Valor Frete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itens">
                <th scope="row">{{ item.codigo }}</th>
                <td>{{ item.produto }}</td>
                <td>
                  <input class="form-control form-control-sm" type="number" placeholder="Quantidade">
                </td>
                <td>{{ item.valor_unitario | currency:'BRL'}}</td>
                <td>{{ item.desconto_tab | currency:'BRL'}}</td>
                <td>
                  <input currencyMask class="form-control form-control-sm" type="text" placeholder="R$">
                </td>
                <td>{{ item.valor_venda | currency:'BRL' }}</td>
                <td>
                  <select class="form-select form-select-sm">
                    <option value="" disabled selected>Selecionar...</option>
                    <option value="tipo1">tipo 1</option>
                    <option value="tipo2">tipo 2</option>
                    <option value="tipo3">tipo 3</option>
                  </select>
                </td>
                <td>
                  <input class="form-control form-control-sm" type="date">
                </td>
                <td>
                  <select class="form-select form-select-sm">
                    <option value="" disabled selected>Selecionar...</option>
                    <option value="endereco1">Endereço 1</option>
                    <option value="endereco2">Endereço 2</option>
                    <option value="endereco3">Endereço 3</option>
                  </select>
                </td>
                <td>
                  <input currencyMask class="form-control form-control-sm" type="text" value="" placeholder="R$">
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Aplicas desconto geral -->
        <div class="row mt-4 pb-4 justify-content-end align-items-center border-bottom">
          <div class="col-3 text-center">
            <h5 class="m-0"><a class="text-custom-dark fw-bold">Aplicar desconto geral</a></h5>
          </div>

          <!-- Desconto geral -->
          <div class="col-4 px-2 p-0 m-0 form-floating">
            <input currencyMask [value]="desconto | currency: 'BRL'" class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Desconto geral">
            <label class="ms-2 mb-2 small text-truncate text-custom-dark">Desconto geral</label>
          </div>
        </div>

        <!-- Dados de entrega -->
        <div class="row mt-4">
          <div class="col-12 pb-4 border-bottom">
            <h4 class="m-0 text-custom-dark">Dados de entrega</h4>
          </div>

          <!-- Tipo de entrega -->
          <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
            <select class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Tipo de entrega">
              <option value="" disabled selected>Selecione um tipo de entrega</option>
              <option value="entrega">Entrega</option>
              <option value="retirada">Retirada</option>
            </select>
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Tipo de entrega</label>
          </div>

          <!-- Endereço -->
          <div class="col-5 px-2 pt-4 p-0 m-0 form-floating">
            <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Endereço">
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Endereço</label>
          </div>

          <!-- Valor do frete -->
          <div class="col-3 px-2 pt-4 p-0 m-0 form-floating">
            <input currencyMask [value]="300 | currency: 'BRL'" class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Valor do frete">
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Valor do frete</label>
          </div>

          <!-- Dados de entrega -->
          <div class="col-12 mt-4 p-0 px-2 ms-1 bg-custom-dark rounded-25">

            <!-- Títulos da Tabela do resumo -->
            <div class="row m-0 my-3 text-light justify-content-center">
              <div class="col-1 text-center">
                <h6 class="fw-bold text-truncate">Produtos</h6>
              </div>
              <div class="col-1 text-center">
                <h6 class="fw-bold text-truncate">Unidades</h6>
              </div>
              <div class="col-2 text-center">
                <h6 class="fw-bold text-truncate">Subtotal</h6>
              </div>
              <div class="col-2 text-center">
                <h6 class="fw-bold text-truncate">Descontos</h6>
              </div>
              <div class="col-2 text-center">
                <h6 class="fw-bold text-truncate">Venda</h6>
              </div>
              <div class="col-2 text-center">
                <h6 class="fw-bold text-truncate">Frete</h6>
              </div>
              <div class="col text-center">
                <h6 class="fw-bold text-truncate">Total</h6>
              </div>
            </div>

            <!-- Tabela resumo -->
            <div font="montserrat" class="row m-0 mt-2 border-bottom text-light justify-content-center align-items-center">
              <div class="col-1 text-center">
                <p>{{ resumo.produtos }}</p>
              </div>
              <div class="col-1 text-center">
                <p>{{ resumo.unidades }}</p>
              </div>
              <div class="col-2 text-center">
                <p>{{ resumo.subtotal | currency:'BRL' }}</p>
              </div>
              <div class="col-2 text-center">
                <p>{{ resumo.descontos | currency:'BRL' }}</p>
              </div>
              <div class="col-2 text-center">
                <p>{{ resumo.venda | currency:'BRL' }}</p>
              </div>
              <div class="col-2 text-center">
                <p>{{ resumo.frete | currency:'BRL' }}</p>
              </div>
              <div class="col text-center">
                <p>{{ resumo.total | currency:'BRL' }}</p>
              </div>
            </div>

          </div>

        </div>

        <!-- Condições de pagamento -->
        <div class="row mt-4">
          <div class="col-12 mt-4 pb-4 border-bottom">
            <h4 class="m-0 text-custom-dark">Condições de pagamento</h4>
          </div>

          <!-- Meio de pagamento -->
          <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
            <select class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Meio de pagamento">
              <option value="" disabled selected>Selecione um meio de pagamento</option>
              <option value="boleto">Boleto</option>
              <option value="credito">Crédito</option>
              <option value="debito">Débito</option>
            </select>
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Meio de pagamento</label>
          </div>

          <!-- Dias -->
          <div class="col-1 px-2 pt-4 p-0 m-0 form-floating">
            <input class="form-control form-control-lg text-center h-limited px-2 py-3 rounded-15 shadow-sm" min="0" type="number" placeholder="Dias">
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Dias</label>
          </div>

          <!-- Data de vencimento -->
          <div class="col-3 px-2 pt-4 p-0 m-0 form-floating">
            <input class="form-control form-control-lg h-limited px-4 py-4 rounded-15 shadow-sm" type="date" placeholder="Data de vencimento">
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Data de vencimento</label>
          </div>

          <!-- Status -->
          <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
            <select class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Meio de pagamento">
              <option value="aguardando" selected>Aguardando pagamento</option>
              <option value="realizado">Realizado</option>
            </select>
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Status</label>
          </div>

          <!-- Link do boleto -->
          <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
            <input class="form-control form-control-lg h-limited px-4 py-4 rounded-15 shadow-sm" type="text" placeholder="Link do boleto">
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Link do boleto</label>
          </div>

          <!-- Link da nota fiscal -->
          <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
            <input class="form-control form-control-lg h-limited px-4 py-4 rounded-15 shadow-sm" type="text" placeholder="Link da nota fiscal">
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Link da nota fiscal</label>
          </div>

          <!-- Observações -->
          <div class="col-12 px-2 pt-4 p-0 m-0 form-floating">
            <textarea class="form-control form-control-lg px-4 py-3 rounded-15 shadow-sm" placeholder="Observações" style="height: 150px"></textarea>
            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Observações</label>
          </div>

        </div>

        <!-- Footer -->
        <div class="row mt-3 py-3 pb-5">

          <!-- Botão Cancelar -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button type="button" class="h-limited btn rounded-15 py-1 px-4 btn-outline-secondary d-flex justify-content-between shadow-sm">
              <h5 class="fw-normal my-auto text-truncate">Cancelar</h5>
              <i class="bi-x my-auto fs-2 p-0 m-0 fw-bold"></i>
            </button>
          </div>

          <!-- Botão Gerar pedido -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button type="button" class="h-limited btn rounded-15 py-1 px-4 btn-outline-secondary d-flex justify-content-between shadow-sm">
              <h5 class="fw-normal my-auto text-truncate">Gerar pedido</h5>
              <i class="bi-file-text my-auto fs-4 p-0 m-0 fw-bold"></i>
            </button>
          </div>

          <!-- Botão Gerar PDF -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button type="button" class="h-limited btn rounded-15 py-1 px-4 btn-outline-secondary d-flex justify-content-between shadow-sm">
              <h5 class="fw-normal my-auto text-truncate">Gerar PDF</h5>
              <i class="bi-file-earmark-pdf my-auto fs-4 p-0 m-0 fw-bold"></i>
            </button>
          </div>

          <!-- Botão Salvar -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button type="button" class="h-limited btn rounded-15 py-1 px-4 bg-custom-success d-flex justify-content-between shadow-sm">
              <h5 class="fw-normal my-auto text-truncate text-custom-dark">Salvar</h5>
              <i class="bi-plus my-auto fs-2 p-0 m-0 fw-bold text-custom-dark"></i>
            </button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<app-selecionar-produtos-modal></app-selecionar-produtos-modal>