<app-navbar></app-navbar>

<div class="row p-0 m-0">
    <div class="col-auto m-0 p-0 bg-custom-light">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col m-0 bg-custom-white">
        >
        <!-- Página -->
        <div class="container">
            <!-- Botão de voltar -->
            <div class="row m-0 justify-content-start mt-4">
                <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/configuracoes/">
                    <i class="bi-arrow-left fs-3 text-secondary"></i>
                </a>
            </div>

            <div class="row m-0 mt-4 justify-content-center">
                <div class="col-12 px-2 p-0 m-0">
                    <h5 class="fw-bold text-custom-dark">Mensagens</h5>
                </div>
            </div>

            <!-- Títulos da Tabela -->
            <div class="row m-0 my-5 text-custom-dark justify-content-center">
                <div class="col-3">
                    <h5 class="fw-bold text-truncate">Título</h5>
                </div>

                <!-- <div class="col-2">
                    <h5 class="fw-bold text-truncate">Usuario</h5>
                </div> -->
                <div class="col-3">
                    <h5 class="fw-bold text-truncate">Data</h5>
                </div>
                <div class="col-3">
                    <h5 class="fw-bold text-truncate">Visualizar</h5>
                </div>
                <!-- Tabela -->
                <div class="row m-0 mt-3 border-bottom text-custom-dark justify-content-center" *ngFor="let mensagem of mensagens">
                    <div class="col-3">
                        <p>{{ mensagem.titulo }}</p>
                    </div>

                    <!-- <div class="col-2">
                        <p>{{ mensagem.usuario }}</p>
                    </div> -->
                    <div class="col-3">
                        <p>{{ mensagem.dataDeCriacao | date }}</p>
                    </div>
                    <div class="col-3">
                        <i class="fs-5 bi bi-eye-fill icon-delete p-2" cursor="pointer" (click)="loadViewMessages(mensagem)" data-bs-toggle="modal" data-bs-target="#viewMsg"></i>
                        <i class="fs-5 bi-trash-fill icon-delete p-2" cursor="pointer" (click)="deleteMessage(mensagem)"></i>
                    </div>
                </div>
                <!-- /Página -->
            </div>
        </div>
        <!-- Botão Adicionar -->
        <div class="row d-flex justify-content-end mx-3 mt-5">
            <div class="col-2 mx-3 px-2 p-0 m-0 d-grid" data-bs-toggle="modal" data-bs-target="#novaMensagem">
                <button type="button" class="h-limited btn rounded-15 py-1 px-4 bg-custom-success d-flex justify-content-between shadow-sm">
          <h5 class="fw-normal my-auto text-truncate text-custom-dark">
            Escrever
          </h5>
          <i class="bi-plus my-auto fs-2 p-0 m-0 fw-bold text-custom-dark"></i>
        </button>
            </div>
        </div>
    </div>
</div>
<app-nova-msg></app-nova-msg>
<app-view-msg [msg]="mensagens"></app-view-msg>
