<!-- Modal -->
<div class="modal fade" id="filtrarCategorias" tabindex="-1" aria-labelledby="filtrarCategoriasLabel" aria-hidden="true" aria-label="Close">
    <div class="modal-dialog modal-xl">
        <!-- Modal content -->
        <div class="modal-content rounded-15 bg-custom-light">
            <div class="modal-header px-4">
                <h5 class="modal-title text-custom-dark" id="filtrarColaboradoresLabel">
                    Filtrar Categorias
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <div class="row m-0 mt-4 justify-content-center">
                    <!-- Ativos -->
                    <div class="col-4 px-2 p-0 m-0">
                        <div class="rounded-15 py-2 px-4 bg-white h-100 d-flex shadow-sm">
                            <i class="bi-circle-fill my-auto p-0 m-0 me-2 fw-bold text-success" (click)="getCategorias(false)"></i>
                            <h5 class="fw-normal my-auto text-truncate text-custom-dark">
                                {{ data.enabled }} ativos
                            </h5>
                        </div>
                    </div>

                    <!-- Inativos -->
                    <div class="col-4 px-2 p-0 m-0">
                        <div class="rounded-15 py-2 px-4 bg-white h-100 d-flex shadow-sm">
                            <i class="bi-circle-fill my-auto p-0 m-0 me-2 fw-bold text-danger" (click)="getCategorias(true)"></i>
                            <h5 class="fw-normal my-auto text-truncate text-custom-dark">
                                {{ data.disabled }} inativos
                            </h5>
                        </div>
                    </div>
                </div>

                <!-- Status -->
                <!-- Títulos da Tabela -->
                <div class="row m-0 my-5 text-custom-dark justify-content-center">
                    <div class="col-2 text-end d-flex align-items-center justify-content-end">
                        <h5 class="fw-bold text-truncate">Status</h5>
                    </div>
                </div>
                <!-- Tabela -->
                <div class="row m-0 mt-3 border-bottom text-custom-dark justify-content-center" *ngFor="let categoria of categoriasFiltradas">
                    <div class="col-10">
                        <p>{{ categoria?.nome }}</p>
                    </div>

                    <div class="col-2 text-end d-flex align-items-center justify-content-end">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="row m-0 py-3 modal-footer">
                <!-- Cancelar -->
                <div class="col-3 px-2 p-0 m-0 d-grid">
                    <button data-bs-dismiss="modal" type="reset" class="h-limited-sm btn rounded-15 py-1 px-4 bg-light shadow-sm text-start">
            <h5 class="fw-normal my-auto text-truncate text-custom-dark">
              Cancelar
            </h5>
          </button>
                </div>
            </div>
            <!-- /Modal footer -->
        </div>
        <!-- /Modal content -->
    </div>
</div>