<!-- Modal -->
<div class="modal fade" id="adicionarFornecedor" tabindex="-1" aria-labelledby="adicionarFornecedorLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form [formGroup]="fornecedorForm">
            <!-- Modal content -->
            <div class="modal-content rounded-15 bg-custom-light">
                <div class="modal-header px-4">
                    <h5 class="modal-title text-custom-dark" id="adicionarFornecedorLabel">
                        Adicionar fornecedor
                    </h5>
                    <button type="button" class="btn-close" #close data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4">
                    <!-- Categoria do fornecedor -->
                    <div class="row py-3 p-0 m-0">
                        <div class="col-12 px-2 m-0 p-0">
                            <h5 class="fw-bold text-custom-dark m-0 p-0">
                                Categoria do fornecedor
                            </h5>
                        </div>

                        <div class="col-12 d-grid px-2 pt-4 p-0 m-0 form-floating">
                            <select class="form-select h-limited-sm px-4 py-1 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Categoria" formControlName="category">
                <option value="" disabled selected>
                  Selecione uma Categoria
                </option>
                <option
                  *ngFor="let categoria of categorias"
                  value="{{ categoria.nome }}"
                >
                  {{ categoria.nome }}
                </option>
              </select>
                            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Categoria</label
              >
            </div>
          </div>
          <!-- /Categoria do fornecedor -->

          <!-- Dados cadastrais -->
          <div class="row py-3 p-0 m-0">
            <!-- Título -->
            <div class="col-12 px-2 m-0 p-0">
              <h5 class="fw-bold text-custom-dark m-0 p-0">Dados cadastrais</h5>
            </div>

            <!-- CNPJ -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="CNPJ"
                formControlName="cnpj"
                mask="00.000.000/0000-00"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >CNPJ</label
              >
            </div>

            <!-- Nome fantasia -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="Nome fantasia"
                formControlName="fantasy_name"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Nome fantasia</label
              >
            </div>

            <!-- Razão Social -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="Razão Social"
                formControlName="social_reason"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Razão Social</label
              >
            </div>

            <!-- Código do regime tributário -->
            <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
              <select
                class="form-select h-limited-sm px-4 py-1 rounded-15 shadow-sm text-custom-dark"
                placeholder="Código do regime tributário"
                formControlName="tribute_code"
              >
                <option value="simples-nacional">
                  Simples nacional | Regime normal
                </option>
                <option value="simples-nacional">
                  Simples nacional | Regime normal
                </option>
                <option value="simples-nacional ">
                  Simples nacional | Regime normal
                </option>
              </select>
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Código do regime tributário</label
              >
            </div>

            <!-- Contribuinte -->
            <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
              <select
                class="form-select h-limited-sm px-4 py-1 rounded-15 shadow-sm text-custom-dark"
                placeholder="Contribuinte"
                formControlName="contribuinte"
              >
                <option value="simples-nacional">
                  Simples nacional | Regime normal
                </option>
                <option value="simples-nacional">
                  Simples nacional | Regime normal
                </option>
                <option value="simples-nacional ">
                  Simples nacional | Regime normal
                </option>
              </select>
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Contribuinte</label
              >
            </div>

            <!-- Inscrição estadual -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="number"
                placeholder="Inscrição estadual"
                formControlName="state_registration"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Inscrição estadual</label
              >
            </div>

            <!-- Isento -->
            <div
              class="col-2 px-2 pt-4 p-0 m-0 form-floating d-flex align-items-center"
            >
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="insento"
                  id="insento"
                  formControlName="is_exempt"
                />
                <label class="form-check-label" for="insento">Isento</label>
                        </div>
                    </div>

                    <!-- Faturamento Minimo -->
                    <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
                        <input mask="separator,2" prefix="R$" thousandSeparator="." class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="R$" formControlName="minimum_billing" />
                        <label class="ms-2 mt-3 small text-truncate text-custom-dark">Faturamento mínimo</label
              >
            </div>
          </div>

          <!-- Endereço -->
          <div class="row py-3 p-0 m-0" [formGroup]="a">
            <!-- Título -->
            <div class="col-12 px-2 m-0 p-0">
              <h5 class="fw-bold text-custom-dark m-0 p-0">Endereço</h5>
            </div>

            <!-- CEP -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="CEP"
                formControlName="cep"
                mask="00000-000"
                (input)="loadCep($event.target)"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >CEP</label
              >
            </div>

            <!-- UF -->
            <div class="col-2 px-2 pt-4 p-0 m-0 form-floating">
              <select
                class="form-select h-limited-sm px-4 py-1 rounded-15 shadow-sm text-custom-dark"
                formControlName="state"
              >
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >UF</label
              >
            </div>

            <!-- Cidade -->
            <div class="col-3 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="Cidade"
                formControlName="city"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Cidade</label
              >
            </div>

            <!-- Bairro -->
            <div class="col-3 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="Bairro"
                formControlName="neighborhood"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Bairro</label
              >
            </div>

            <!-- Logradouro -->
            <div class="col-7 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="Logradouro"
                formControlName="street"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Logradouro</label
              >
            </div>

            <!-- Número -->
            <div class="col-2 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="number"
                placeholder="Número"
                formControlName="number"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Número</label
              >
            </div>

            <!-- Complemento -->
            <div class="col-3 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="Complemento"
                formControlName="complement"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Complemento</label
              >
            </div>
          </div>

          <!-- Contato -->
          <div class="row py-3 p-0 m-0 align-items-center">
            <!-- Título -->
            <div class="col-12 d-flex px-2 align-items-center m-0 p-0">
              <h5 class="fw-bold text-custom-dark m-0 p-0">Contato</h5>
              <a class="px-2 py-2" (click)="adicionarContato()">
                <i
                  class="bi-plus-square-fill icon-view my-auto fs-4 p-2 m-0 fw-bold text-custom-dark"
                ></i>
              </a>
            </div>

            <div
              class="col-12 m-0 p-0"
              formArrayName="contacts"
              *ngFor="let contato of c.controls; index as i"
            >
              <div class="row m-0 p-0 pb-4 border-bottom" [formGroupName]="i">
                <!-- Nome do contato -->
                <div class="col-12 d-flex px-2 align-items-center m-0 p-0">
                  <div class="col-11 px-2 pt-4 p-0 m-0 form-floating">
                    <input
                      class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                      type="text"
                      placeholder="Nome do contato"
                      formControlName="name"
                    />
                    <label
                      class="ms-2 mt-3 small text-truncate text-custom-dark"
                      >Nome do contato</label
                    >
                  </div>
                  <a
                    class="px-2 py-2"
                    (click)="removeContato(i)"
                    *ngIf="c.controls.length > 1"
                  >
                    <i
                      class="bi bi-x-square-fill icon-view my-auto fs-4 p-2 m-0 fw-bold text-custom-dark"
                    ></i>
                  </a>
                </div>

                <!-- WhatsApp -->
                <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
                  <input
                    class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                    type="text"
                    placeholder="WhatsApp"
                    mask="(00) 00000-0000"
                  />
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                    >WhatsApp</label
                  >
                </div>

                <!-- Telefone 1 -->
                <div class="col-3 px-2 pt-4 p-0 m-0 form-floating">
                  <input
                    class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                    type="text"
                    placeholder="Telefone 1"
                    formControlName="tel_1"
                    mask="(00) 0000-0000"
                  />
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                    >Telefone 1</label
                  >
                </div>

                <!-- Ramal 1 -->
                <div class="col-1 px-2 pt-4 p-0 m-0 form-floating">
                  <input
                    class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                    type="number"
                    placeholder="Ramal 1"
                    formControlName="ramal_1"
                  />
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                    >Ramal 1</label
                  >
                </div>

                <!-- Telefone 2 -->
                <div class="col-3 px-2 pt-4 p-0 m-0 form-floating">
                  <input
                    class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                    type="text"
                    placeholder="Telefone 2"
                    formControlName="tel_2"
                    mask="(00) 0000-0000"
                  />
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                    >Telefone 2</label
                  >
                </div>

                <!-- Ramal 2 -->
                <div class="col-1 px-2 pt-4 p-0 m-0 form-floating">
                  <input
                    class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                    type="number"
                    placeholder="Ramal 2"
                    formControlName="ramal_2"
                  />
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                    >Ramal 2</label
                  >
                </div>

                <!-- Email do contato -->
                <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
                  <input
                    class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                    type="email"
                    placeholder="Email do contato"
                    formControlName="email"
                  />
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                    >Email do contato</label
                  >
                </div>

                <!-- Email nota fiscal -->
                <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
                  <input
                    class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                    type="email"
                    placeholder="Email nota fiscal"
                    formControlName="email_nf"
                  />
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                    >Email nota fiscal</label
                  >
                </div>

                <!-- Site -->
                <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
                  <input
                    class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                    type="text"
                    placeholder="Site"
                    formControlName="site"
                  />
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                    >Site</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row pt-3 m-0">
            <div class="col-12 px-2 m-0 p-0">
              <h5 class="fw-bold text-custom-dark m-0 p-0">
                Informações adicionais
              </h5>
            </div>

            <div class="col-12 px-2 p-0 m-0">
              <p>Selecione as condições de pagamento disponíveis</p>
              <div class="form-check form-check-inline px-4">
                <input
                  class="form-check-input shadow-sm"
                  type="checkbox"
                  id="vista"
                  value="vista"
                />
                <label class="form-check-label" for="vista">À vista</label>
                    </div>
                    <div class="form-check form-check-inline px-4">
                        <input class="form-check-input shadow-sm" type="checkbox" id="ddl10" value="ddl10" />
                        <label class="form-check-label" for="ddl10">DDL 10</label>
                    </div>
                    <div class="form-check form-check-inline px-4">
                        <input class="form-check-input shadow-sm" type="checkbox" id="ddl30" value="ddl30" />
                        <label class="form-check-label" for="ddl30">DDL 30</label>
                    </div>
                    <div class="form-check form-check-inline px-4">
                        <input class="form-check-input shadow-sm" type="checkbox" id="ddl304560" value="ddl304560" />
                        <label class="form-check-label" for="ddl304560">DDL 30, 45, 60</label
                >
              </div>
              <div class="form-check form-check-inline px-4">
                <input
                  class="form-check-input shadow-sm"
                  type="checkbox"
                  id="ddl306090"
                  value="ddl306090"
                />
                <label class="form-check-label" for="ddl306090"
                  >DDL 30, 60, 90</label
                >
              </div>
            </div>

            <!-- Data da primeira compra -->
            <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="date"
                placeholder="Data da primeira compra"
                formControlName="first_payment"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Data da primeira compra</label
              >
            </div>

            <!-- Data da última compra -->
            <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="date"
                placeholder="Data da última compra"
                formControlName="last_payment"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Data da última compra</label
              >
            </div>

            <!-- Observações -->
            <div class="col-12 px-2 pt-4 p-0 m-0 form-floating">
              <textarea
                class="form-control form-control-lg px-4 py-3 rounded-15 shadow-sm"
                placeholder="Observações"
                style="height: 150px"
                formControlName="notes"
              ></textarea>
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Observações</label
              >
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="row m-0 py-3 modal-footer">
          <!-- Cancelar -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button
              data-bs-dismiss="modal"
              type="reset"
              class="h-limited-sm btn rounded-15 py-1 px-4 bg-light shadow-sm text-start"
            >
              <h5
                class="fw-normal my-auto text-truncate text-custom-dark text-center"
              >
                Cancelar
              </h5>
            </button>
          </div>

          <!-- Salvar -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button
              type="submit"
              class="h-limited-sm btn rounded-15 py-1 px-4 bg-custom-success shadow-sm text-start"
              (click)="save()"
            >
              <h5
                class="fw-normal my-auto text-truncate text-custom-dark text-center"
              >
                Salvar
              </h5>
            </button>
          </div>
        </div>
        <!-- /Modal footer -->
      </div>
      <!-- /Modal content -->
    </form>
  </div>
</div>