<app-navbar></app-navbar>

<div class="row p-0 m-0">
    <div class="col-auto m-0 p-0 bg-custom-light">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col m-0 bg-custom-white">
        <!-- Página -->
        <div class="container">
            <!-- Botão de voltar -->
            <div class="row m-0 justify-content-start mt-4">
                <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/rh/">
                    <i class="bi-arrow-left fs-3 text-secondary"></i>
                </a>
            </div>

            <div class="col-12 text-center">
                <h1 class="text-custom-dark text-truncate">Lista de colaboradores</h1>
            </div>

            <!-- Adicionar, Ativos e Inativos -->
            <div class="row m-0 mt-4 justify-content-center">
                <!-- Botão Adicionar -->
                <div class="col-4 px-2 p-0 m-0">
                    <a class="rounded-15 py-1 px-4 bg-custom-success h-100 d-flex justify-content-between shadow-sm" routerLink="/sistema/rh/cadastrar">
                        <h5 class="fw-normal my-auto text-truncate text-custom-dark">
                            Adicionar
                        </h5>
                        <i class="bi-plus my-auto fs-2 p-0 m-0 fw-bold text-custom-dark"></i>
                    </a>
                </div>

                <!-- Ativos -->
                <div class="col-4 px-2 p-0 m-0">
                    <div class="rounded-15 py-2 px-4 bg-white h-100 d-flex shadow-sm">
                        <i class="bi-circle-fill my-auto p-0 m-0 me-2 fw-bold text-success" (click)="getPerfis(false)"></i>
                        <h5 class="fw-normal my-auto text-truncate text-custom-dark">
                            {{ data.enabled }} ativos
                        </h5>
                    </div>
                </div>

                <!-- Inativos -->
                <div class="col-4 px-2 p-0 m-0">
                    <div class="rounded-15 py-2 px-4 bg-white h-100 d-flex shadow-sm">
                        <i class="bi-circle-fill my-auto p-0 m-0 me-2 fw-bold text-danger" (click)="getPerfis(true)"></i>
                        <h5 class="fw-normal my-auto text-truncate text-custom-dark">
                            {{ data.disabled }} inativos
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Títulos da Tabela -->
            <div class="d-flex row m-0 my-5 text-custom-dark justify-content-center">
                <div class="col-2">
                    <h5 class="fw-bold text-truncate">Nome</h5>
                </div>
                <div class="col-2">
                    <h5 class="fw-bold text-truncate">Cargo</h5>
                </div>
                <div class="col-2">
                    <h5 class="fw-bold text-truncate">Departamento</h5>
                </div>
                <div class="col-2">
                    <h5 class="fw-bold text-truncate">Admissão</h5>
                </div>
                <div class="col-2">
                    <h5 class="fw-bold text-truncate">Loja</h5>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <i class="fs-5 bi-search icon-search px-2 py-1 mx-2 bg-white shadow-sm rounded-5" cursor="pointer" data-bs-toggle="modal" data-bs-target="#pesquisarColaborador"></i>
                    <i class="fs-5 bi-funnel icon-filter px-2 py-1 mx-2 bg-white shadow-sm rounded-5" cursor="pointer" data-bs-toggle="modal" data-bs-target="#filtrarColaboradores"></i>
                </div>
            </div>
            <!-- Tabela -->
            <div class="row m-0 mt-3 border-bottom text-custom-dark justify-content-center" *ngFor="
          let rh of profiles | paginate: { itemsPerPage: 10, currentPage: p }
        ">
                <div class="col-2">
                    <p>{{ rh.name }} {{ rh.surname }}</p>
                </div>
                <div class="col-2">
                    <p>{{ rh.role }}</p>
                </div>
                <div class="col-2">
                    <p>{{ rh.department }}</p>
                </div>
                <div class="col-2">
                    <p>{{ rh.admission | date }}</p>
                </div>
                <div class="col-2">
                    <p>{{ rh.filial }}</p>
                </div>
                <div class="col-2 text-end">
                    <i class="fs-5 bi-circle-fill p-3" [class]="rh.status == 1 ? 'text-success' : 'text-danger'" cursor="pointer"></i>
                    <i class="fs-5 bi-pen-fill icon-edit p-3" routerLink="/sistema/rh/editar/{{ rh.id }}" cursor="pointer"></i>
                    <i class="fs-5 bi-trash-fill icon-delete p-3" cursor="pointer" (click)="deleteRh(rh.id)"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 row mt-3 d-flex justify-content-around">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
<app-pesquisar-colaborador></app-pesquisar-colaborador>
<app-filtrar-colaboradores></app-filtrar-colaboradores>