<!-- Botão para abrir o modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#selecionarProdutos">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="selecionarProdutos" tabindex="-1" aria-labelledby="selecionarProdutosLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <form>
      <!-- Modal content -->
      <div class="modal-content rounded-15 bg-custom-light">
        <div class="modal-header px-4">
          <h5 class="modal-title text-custom-dark" id="selecionarProdutosLabel">Selecionar produtos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">

          <div class="row m-0 justify-content-center align-items-center">
            <!-- Pesquisar -->
            <div class="col-4 px-2 p-0 m-0 position-relative">
              <input class="form-control form-control-lg border-0 h-limited py-2 ps-4 pe-5 rounded-15 shadow-sm" type="text" placeholder="Pesquisar">
              <a>
                <i class="bi-search fs-4 position-absolute translate-middle top-50 me-4 end-0"></i>
              </a>
            </div>
            <!-- Botão Filtro -->
            <div class="col-4 px-2 p-0 m-0">
              <a class="rounded-15 py-2 px-4 bg-white h-limited d-flex justify-content-between shadow-sm">
                <h5 class="fw-normal my-auto text-truncate text-custom-dark">Filtro</h5>
                <i class="bi-funnel my-auto fs-4 p-0 m-0 fw-bold text-custom-dark"></i>
              </a>
            </div>
          </div>

          <!-- Títulos da Tabela -->
          <div class="row m-0 my-5 text-custom-dark justify-content-between">
            <div class="col-1">
            </div>
            <div class="col-1">
              <h5 class="fw-bold">Código</h5>
            </div>
            <div class="col-3">
              <h5 class="fw-bold">Produto</h5>
            </div>
            <div class="col-2">
              <h5 class="fw-bold">Estoque</h5>
            </div>
            <div class="col-2">
              <h5 class="fw-bold">Custo</h5>
            </div>
            <div class="col-2">
              <h5 class="fw-bold">Venda</h5>
            </div>
            <div class="col-1">
              <h5 class="fw-bold">Margem</h5>
            </div>
          </div>

          <!-- Tabela -->
          <label *ngFor="let produto of produtos" class="row m-0 mt-3 border-bottom text-custom-dark justify-content-between" [for]="produto.codigo">
            <div class="col-1">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [value]="produto.codigo" [id]="produto.codigo">
              </div>
            </div>
            <div class="col-1">
              <p>{{ produto.codigo }}</p>
            </div>
            <div class="col-3">
              <p>{{ produto.nome }}</p>
            </div>
            <div class="col-2">
              <p>{{ produto.estoque }} un.</p>
            </div>
            <div class="col-2">
              <p>{{ produto.custo | currency:'BRL' }} un.</p>
            </div>
            <div class="col-2">
              <p>{{ produto.venda | currency:'BRL' }} un.</p>
            </div>
            <div class="col-1">
              <p>{{ produto.margem }}%</p>
            </div>
          </label>

        </div>

        <!-- Modal footer -->
        <div class="row m-0 py-3 modal-footer">

          <!-- Cancelar -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button data-bs-dismiss="modal" type="button" class="h-limited-sm btn rounded-15 py-1 px-4 bg-light shadow-sm text-start">
              <h5 class="fw-normal my-auto text-truncate text-custom-dark">Cancelar</h5>
            </button>
          </div>

          <!-- Selecionar -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button type="button" class="h-limited-sm btn rounded-15 py-1 px-4 bg-custom-success shadow-sm text-start">
              <h5 class="fw-normal my-auto text-truncate text-custom-dark">Selecionar</h5>
            </button>
          </div>

        </div>
        <!-- /Modal footer -->

      </div>
      <!-- /Modal content -->
    </form>

  </div>
</div>