<div class="row m-0 justify-content-center align-items-center">
    <!-- Pesquisar -->
    <div class="col-4 px-2 p-0 m-0 position-relative">
        <input [(ngModel)]="search" (input)="pesquisaProdutos()" class="
        form-control form-control-lg
        border-0
        h-limited
        py-2
        ps-4
        pe-5
        rounded-15
        shadow-sm
      " type="text" placeholder="Pesquisar" />
        <a>
            <i class="
          bi-search
          fs-4
          position-absolute
          translate-middle
          top-50
          me-4
          end-0
        "></i>
        </a>
    </div>

    <!-- Adicionar -->
    <div class="col-1 px-2 p-0 m-0 text-center">
        <a class="px-2 py-2" data-bs-toggle="modal" data-bs-target="#adicionarProdutoEstoque">
            <i class="
          bi-plus-square-fill
          icon-view
          my-auto
          fs-3
          p-2
          m-0
          fw-bold
          text-custom-dark
        "></i>
        </a>
    </div>
</div>

<!-- Títulos da Tabela -->
<div class="row m-0 my-5 text-custom-dark">
    <div class="col-1">
        <h5 class="fw-bold">Código</h5>
    </div>
    <div class="col-2">
        <h5 class="fw-bold">Produto</h5>
    </div>
    <div class="col-1">
        <h5 class="fw-bold text-truncate">Unidade de medida</h5>
    </div>
    <div class="col-1">
        <h5 class="fw-bold text-truncate">Custo médio</h5>
    </div>
    <div class="col-2">
        <h5 class="fw-bold text-truncate">Valor de venda</h5>
    </div>
    <div class="col-1">
        <h5 class="fw-bold text-truncate">Estoque</h5>
    </div>
    <div class="col-2">
        <h5 class="fw-bold text-truncate">Total</h5>
    </div>
    <div class="col-2">
        <h5 class="fw-bold d-none">Ações</h5>
    </div>
</div>

<!-- Tabela -->
<div class="row m-0 mt-3 border-bottom text-custom-dark" *ngFor="let produto of produtosFiltrados">
    <div class="col-1">
        <p>{{ produto.id }}</p>
    </div>
    <div class="col-2">
        <p>{{ produto.nome }}</p>
    </div>
    <div class="col-1">
        <p>{{ produto.unidade }}</p>
    </div>
    <div class="col-1">
        <p>{{ produto.custoMedio | currency: "BRL" }}</p>
    </div>
    <div class="col-2">
        <p>{{ produto.precoMedio | currency: "BRL" }}</p>
    </div>
    <div class="col-1">
        <p>{{ produto.atual }}</p>
    </div>
    <div class="col-2">
        <p>{{ produto.margemLucro | currency: "BRL" }}</p>
    </div>
    <div class="col-2 text-end">
        <i class="fs-5 bi-eye-fill icon-view p-3" cursor="pointer" routerLink="/sistema/estoque/detalhe/{{ produto.id }}"></i>
        <i class="fs-5 bi-pen-fill icon-edit p-3" cursor="pointer" (click)="loadProduto(produto)" data-bs-toggle="modal" data-bs-target="#editProdutos"></i>
    </div>
</div>
<app-edit-produto-estoque (reload)="getProdutos()"></app-edit-produto-estoque>
<app-adicionar-produto-estoque (reload)="getProdutos()"></app-adicionar-produto-estoque>