<div class="row m-0">
  <div class="col-8 m-0 p-0">

    <div class="row m-0 p-0">
      <!-- Restrição 1 -->
      <div class="col-6 px-2 pt-4 p-0 m-0">
        <select class="form-select form-select-lg h-100 px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Restrição">
          <option value="" disabled selected>Restrição</option>
          <option value="Restrição 1">Restrição 1</option>
          <option value="Restrição 2">Restrição 2</option>
        </select>
      </div>

      <!-- Data de validade 1 -->
      <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
        <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="date" [max]="getDate()" placeholder="Data de validade">
        <label class="ms-2 mt-3 small text-truncate text-custom-dark">Data de validade</label>
      </div>

      <!-- Restrição 2 -->
      <div class="col-6 px-2 pt-4 p-0 m-0">
        <select class="form-select form-select-lg h-100 px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Restrição">
          <option value="" disabled selected>Restrição</option>
          <option value="Restrição 1">Restrição 1</option>
          <option value="Restrição 2">Restrição 2</option>
        </select>
      </div>

      <!-- Data de validade 2 -->
      <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
        <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="date" [max]="getDate()" placeholder="Data de validade">
        <label class="ms-2 mt-3 small text-truncate text-custom-dark">Data de validade</label>
      </div>

      <!-- Restrição 3 -->
      <div class="col-6 px-2 pt-4 p-0 m-0">
        <select class="form-select form-select-lg h-100 px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Restrição">
          <option value="" disabled selected>Restrição</option>
          <option value="Restrição 1">Restrição 1</option>
          <option value="Restrição 2">Restrição 2</option>
        </select>
      </div>

      <!-- Data de validade 3 -->
      <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
        <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="date" [max]="getDate()" placeholder="Data de validade">
        <label class="ms-2 mt-3 small text-truncate text-custom-dark">Data de validade</label>
      </div>
    </div>

  </div>
  <div class="col-4 m-0 p-0">

    <!-- Observações -->
    <div class="col-12 px-2 pt-4 p-0 m-0 form-floating">
      <textarea class="form-control form-control-lg px-4 py-3 rounded-15 shadow-sm" placeholder="Observações" style="height: 240px"></textarea>
      <label class="ms-2 mt-3 small text-truncate text-custom-dark">Observações</label>
    </div>

  </div>
</div>

<div class="row m-0 justify-content-end">

  <!-- Limite de compra -->
  <div class="col-4 px-2 p-0 pt-4 m-0 form-floating">
    <input font="montserrat" class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="number" min="0" value="999" placeholder="Limite de compra">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Limite de compra</label>
  </div>

  <!-- Desconto máx. -->
  <div class="col-4 px-2 p-0 pt-4 m-0 form-floating">
    <input currencyMask class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" value="{{ '999' | currency: 'BRL'}}" placeholder="Desconto máx.">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Desconto máx.</label>
  </div>

</div>

<!-- Final -->
<div class="row m-0 pb-4 mt-4 justify-content-end">

  <!-- Botão Salvar -->
  <div class="col-4 d-grid px-2 p-0 m-0">
    <button type="submit" class="btn rounded-15 py-3 px-4 bg-custom-success h-100 d-flex justify-content-between shadow-sm">
      <h5 class="fw-normal my-auto text-truncate text-custom-dark ">Salvar</h5>
    </button>
  </div>

</div>