input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
  }
  input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
  
  }

.tabela{
  min-height: 300px;
}

.pdf-button{
  background: #ff6060;
}

.pdf-button:hover{
  background: #ff7e7e;
}

.excel-button{
  background: #51ff65;
}

.excel-button:hover{
  background: #78fc87;
}

.pdf-preview{
  min-height: 800px;
  max-width: 600px;
}

.tabela{
  width: 580px;
  min-height: 10px;
  margin: 0;
}
  .tabela th {
    font-size: 10px;
    height: 10px;
  }

  .tabela td{
    font-size: 10px;
  }

.table-content{
  font-size: 10px;
}

div.pdf-preview{
  font-size: 10px;
}


.drivers-list li:hover{
  background: #f0f0f0;
}

.search-sugestion{
  z-index: 1000;
  background: #fff;
  position: absolute;
}