
<!-- Dados do cliente -->
<div class="row m-0 pb-4 border-bottom justify-content-center">

  <!-- CNPJ -->
  <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
    <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="CNPJ">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">CNPJ</label>
  </div>

  <!-- Inscrição Estadual -->
  <div class="col-8 px-2 pt-4 p-0 m-0 form-floating">
    <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Inscrição Estadual">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Inscrição Estadual</label>
  </div>

  <!-- Razão Social -->
  <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
    <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Razão Social">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Razão Social</label>
  </div>

  <!-- Nome fantasia -->
  <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
    <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Nome fantasia">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Nome fantasia</label>
  </div>

  <!-- Data de nascimento -->
  <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
    <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="date" placeholder="Data de nascimento" [max]="getDate()">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Data de nascimento</label>
  </div>

  <!-- Email -->
  <div class="col-8 px-2 pt-4 p-0 m-0 form-floating">
    <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="email" placeholder="Email">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Email</label>
  </div>

  <!-- Celular -->
  <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
    <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Celular">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Celular</label>
  </div>

  <!-- Telefone -->
  <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
    <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Telefone">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Telefone</label>
  </div>

  <!-- Ramal -->
  <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
    <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Ramal">
    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Ramal</label>
  </div>

</div>
