<app-navbar></app-navbar>
<div class="row p-0 m-0">
    <div class="col-auto m-0 p-0 bg-custom-light">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col pb-4 m-0 bg-custom-white">
        <!-- Página -->
        <div class="container">
            <!-- Botão de voltar -->
            <div class="row m-0 justify-content-start mt-4">
                <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/rh/apontamentos">
                    <i class="bi-arrow-left fs-3 text-secondary"></i>
                </a>
            </div>
            <div class="col-12 text-center">
                <h1 class="text-custom-dark text-truncate">Apontamentos de faltas</h1>
            </div>
            <!-- Header de faltas -->
            <div class="row m-0 mt-4 justify-content-center">
                <!-- Botão relatório -->
                <div class="col-6 px-2 p-0 m-0">
                  <a class="rounded-15 py-1 px-4 bg-custom-success h-100 d-flex justify-content-between shadow-sm" routerLink="/sistema/rh/faltas-rel">
                    <h5 class="fw-normal my-auto text-truncate text-custom-dark ">Relatório</h5>
                  </a>
                </div>

                <!-- Pesquisa -->
                <div class="col-6 px-2 p-0 m-0 position-relative">
                  <input class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="text" placeholder="Pesquisar" (keyup)="filtrar($event)">
                  <i class="bi-search fs-4 position-absolute translate-middle top-50 me-4 end-0"></i>
                </div>
            </div>
          <form [formGroup]="apontForm" (ngSubmit)="submitForm(apontForm.value)" class="row">
              <div class="row m-0 mt-5 text-custom-dark justify-content-center">
                <div class="col form-floating m-1 row">
                    <div class="col-1 px-0 py-2 m-0 text-center">
                        <i class="button-modal d-flex align-items-center bi-plus-square-fill icon-view my-auto fs-3 p-2 m-0 fw-bold text-custom-dark" cursor="pointer" data-bs-toggle="modal" data-bs-target="#pesquisarColaborador"></i>
                    </div>
                    <div class="col px-2 p-0 m-0 form-floating">
                      <input formControlName="colaborador" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="text" placeholder="cargo" readonly>
                      <label class="ms-2 small text-truncate text-custom-dark">Colaborador</label>
                    </div>
                </div>
                <div class="col form-floating m-1">
                    <input formControlName="cargo" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="text" placeholder="Cargo" readonly>
                    <label class="ms-2 small text-truncate text-custom-dark">Cargo</label>
                </div>
              </div>
              <div class="row m-0 mt-5 text-custom-dark justify-content-center">
                <div class="col m-1 row form-floating">
                  <input formControlName="data" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="date" id="add-falta" name="add-falta">
                </div>
                <div class="col m-1 row form-floating">
                    <select formControlName="tipo"
                    class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text"
                    placeholder="Necessidade especial">
                    <option value="" disabled selected>Tipo de falta</option>
                    <option value="Justificada"> Justificada</option>
                    <option value="Não Justificada">Não Justificada</option>
                  </select>
                  <label class="ms-2 small text-truncate text-custom-dark">Tipo de falta</label>
              </div>
              <div class="row m-0 mt-5 text-custom-dark d-flex justify-content-start">
                <div class="col mr-1 row form-floating">
                  <select formControlName="periodo"
                    class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text"
                    placeholder="Necessidade especial">
                    <option value="" disabled selected>Período de falta</option>
                    <option value="horas">Horas</option>
                    <option value="dias">Dias</option>
                  </select>
                  <label class="ms-2 small text-truncate text-custom-dark">Período de falta</label>
                </div>
                <div class="col m-1 row form-floating">
                  <input formControlName="tempo" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="number" placeholder="Colaborador" >
                  <label class="ms-2 small text-truncate text-custom-dark">Tempo de falta</label>
                </div>

                <div class="col m-1 form-floating row">
                  <input formControlName="diasAtestado" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="number" placeholder="Colaborador" >
                  <label class="ms-2 small text-truncate text-custom-dark">Dias de atestado</label>
                </div>
                <div class="col-1 px-0 m-0 text-center d-flex align-items-center">
                  <button type="submit" class="submit-buton h-100 w-100 border border-0 bg-trasnparent" cursor="pointer">
                    <i class="submit-buton button-modal bi bi-check-circle-fill icon-view my-auto fs-3 h-100 w-100 p-2 m-0 fw-bold"></i>
                  </button>
                </div>
              </div>


            </div>
          </form>
          <div class="row mt-5 text-center">
            <table class="col-12">
                <thead class="header_table col-12">
                    <tr>
                      <td class="lead rounded-start text-center fw-bold">Colaborador</td>
                      <td class="lead text-center fw-bold">Cargo</td>
                      <td class="lead text-center fw-bold">Data</td>
                      <td class="lead text-center fw-bold">Tipo</td>
                      <td class="lead text-center fw-bold">Período</td>
                      <td class="lead text-center fw-bold">Tempo</td>
                      <td class="lead text-center fw-bold">Dias (atestado)</td>
                      <td class="lead text-center fw-bold">Atestado</td>
                      <td class="lead pe-2 rounded-end text-center fw-bold">Ações</td>
                    </tr>
                </thead>
                <tbody class="body_table">
                    <tr class="mt-2" *ngFor="let oneColab of colab">
                      <td class="lead text-custom-dark fw-normal">{{oneColab.colaborador}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.cargo}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.data.substring(10, 0)}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.tipo}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.periodo}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.tempo}}</td>
                      <td class="lead text-custom-dark fw-normal">
                        <p class="w-100 h-100 text-center m-0" *ngIf="oneColab.diasAtestado==''">-</p>
                        <p class="w-100 h-100 m-0" *ngIf="oneColab.diasAtestado!=''">{{oneColab.diasAtestado}}</p>
                      </td>
                      <td class="lead text-custom-dark fw-normal">
                        <p class="w-100 h-100 text-center m-0" *ngIf="oneColab.atestado==''">-</p>
                        <p class="w-100 h-100 m-0" *ngIf="oneColab.atestado!=''">{{oneColab.atestado}}</p>
                      </td>
                      <td class="lead text-custom-dark fw-normal">
                        <i class="w-100 h-100 bi-trash-fill icon-delete p-3" cursor="pointer" (click)="delete(oneColab.id)"></i>
                      </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
<app-pesquisar-colab (value)="selecionar($event)"></app-pesquisar-colab>
