
<!-- Modal -->
<div class="modal fade" id="filtrarVendasDiretas" tabindex="-1" aria-labelledby="filtrarVendasDiretasLabel"
  aria-hidden="true" aria-label="Close">
  <div class="modal-dialog modal-xl">
      <!-- Modal content -->
      <div class="modal-content rounded-15 bg-custom-light">
        <div class="modal-header px-4">
          <h5 class="modal-title text-custom-dark" id="filtrarVendasDiretasLabel">Pesquisar Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
          <div class="row">
              <div class="col px-2 pt-4 p-0 m-0 form-floating">
                <input (change)="filtrarData($event)" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="date" placeholder="Data">
                <label class="ms-2 mt-3 small text-truncate text-custom-dark">Data</label>
              </div>
              <div class="col px-2 pt-4 p-0 m-0 form-floating">
                  <input (keyup)="filtrarCliente($event)" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="text" placeholder="Vendedor">
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark">Cliente</label>
              </div>
              <div class="col px-2 pt-4 p-0 m-0 form-floating">
                  <input currencyMask [value]="total | currency: 'BRL'" (keyup)="filtrarTotal($event)" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="text" placeholder="Vendedor">
                  <label class="ms-2 mt-3 small text-truncate text-custom-dark">Total</label>
              </div>
          </div>

          <!-- Lista de clientes -->
          <!-- Tabela -->
          <table class="table text-custom-dark">
            <thead>
              <tr>
                <th scope="col">Cód.</th>
                <th scope="col">Criado em</th>
                <th scope="col">Loja</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Cliente</th>
                <th scope="col">Valor</th>
                <th scope="col">Atualizado em</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr class="align-items-center" *ngFor="let pedidos of pedidos">
                <th scope="row justify-content-center">{{ pedidos.id }}</th>
                <td>{{ pedidos.created_at | date }}</td>
                <td>{{ pedidos.loja }}</td>
                <td>{{ pedidos.vendedor }}</td>
                <td>{{ pedidos.cliente }}</td>
                <td>{{ pedidos.total | currency:'BRL'}}</td>
                <td>{{ pedidos.updated_at | date }}</td>
                <td>
                  <i class="fs-5 bi-eye-fill icon-view px-2 py-1" cursor="pointer"></i>
                  <i *ngIf="create" class="fs-5 bi-pen-fill icon-edit px-2 py-1 ms-2" cursor="pointer"></i>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- Dados cadastrais -->
        </div>
        <!-- Modal footer -->
        <div class="row m-0 py-3 modal-footer">

          <!-- Cancelar -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button data-bs-dismiss="modal" type="reset"
              class="h-limited-sm btn rounded-15 py-1 px-4 bg-light shadow-sm text-start">
              <h5 class="fw-normal my-auto text-truncate text-custom-dark">Cancelar</h5>
            </button>
          </div>

        </div>
        <!-- /Modal footer -->

      </div>
      <!-- /Modal content -->

  </div>
</div>