<div class="row m-0 p-0">
    <!-- Botão Adicionar -->
    <div class="col-2 px-2 pt-4 p-0 m-0" *ngIf="create">
        <a data-bs-toggle="modal" data-bs-target="#adicionarPagamentos" class="rounded-15 py-1 px-4 bg-custom-success h-limited-sm d-flex justify-content-between shadow-sm">
            <h5 class="fw-normal my-auto text-truncate text-custom-dark">
                Adicionar
            </h5>
            <i class="bi-plus my-auto fs-2 p-0 m-0 fw-bold text-custom-dark"></i>
        </a>
    </div>

    <!-- Data inicial -->
    <div class="col-2 px-2 pt-4 p-0 m-0 form-floating">
        <input class="form-control h-limited-sm py-3 rounded-15 shadow-sm" type="date" placeholder="Data inicial" />
        <label class="ms-2 mt-3 small text-truncate text-custom-dark">Data inicial</label
    >
  </div>

  <!-- Data final -->
  <div class="col-2 px-2 pt-4 p-0 m-0 form-floating">
    <input
      class="form-control h-limited-sm py-3 rounded-15 shadow-sm"
      type="date"
      placeholder="Data final"
    />
    <label class="ms-2 mt-3 small text-truncate text-custom-dark"
      >Data final</label
    >
  </div>

  <!-- Botão Filtro -->
  <div class="col-2 px-2 pt-4 p-0 m-0">
    <a data-bs-toggle="modal" data-bs-target="#filtrarPagamentos"
      class="rounded-15 py-2 px-4 bg-white h-limited-sm d-flex justify-content-between shadow-sm"
    >
      <h5 class="fw-normal my-auto text-truncate text-custom-dark">Filtro</h5>
      <i class="bi-funnel my-auto fs-4 p-0 m-0 fw-bold text-custom-dark"></i>
    </a>
  </div>

  <!-- Pesquisar -->
  <div class="col-2 px-2 pt-4 m-0 position-relative">
    <input [(ngModel)]="search" (input)="pesquisarConta()"
      class="form-control form-control border-0 h-limited-sm py-2 ps-4 pe-5 rounded-15 shadow-sm"
      type="text"
      placeholder="Pesquisar"
    />
    <a
      class="fs-4 position-absolute translate-middle top-50 me-4 end-0 text-custom-dark" style="margin-top: 13px;"
    >
      <i class="bi-search" style="margin-right: -10px;"></i>
    </a>
  </div>
</div>

<!-- Tabela de contas -->
<div class="table-responsive mt-5">
  <table class="table text-custom-dark">
    <thead>
      <tr>
        <th scope="col">Cód.</th>
        <th scope="col">Descrição</th>
        <th scope="col">Fornecedor</th>
        <th scope="col">Pagamento</th>
        <th scope="col">Data</th>
        <th scope="col">Total</th>
        <th scope="col">Situação</th>
        <th scope="col">Unidade</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-items-center" *ngFor="let contas of contasFiltradas">
        <th scope="row">{{ contas?.id }}</th>
        <td>{{ contas?.descricao }}</td>
        <td>{{ contas?.fornecedor }}</td>
        <td>{{ contas?.formaPagamento }}</td>
        <td>{{ contas?.data }}</td>
        <td>{{ contas?.valorTotal | currency: "BRL" }}</td>
        <td>{{ contas?.situacao }}</td>
        <td>{{ contas?.unidade }}</td>
        <td>
          <i
            class="fs-5 bi-eye-fill icon-view p-3"
            cursor="pointer"
            (click)="loadViewPagamento(contas)"
            data-bs-toggle="modal"
            data-bs-target="#viewPagamentos"
          ></i>
          <i *ngIf="create"
            class="fs-5 bi-pen-fill icon-edit p-3"
            (click)="loadPagamento(contas)"
            cursor="pointer"
            data-bs-toggle="modal"
            data-bs-target="#editarPagamentos"
          ></i>

          <i *ngIf="del || !contas.pedidoCompra"
            class="fs-5 bi-trash-fill icon-delete p-3"
            cursor="pointer"
            (click)="delete(contas)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /Tabela de contas -->

<div class="row m-0 py-3 justify-content-between">
  <!-- Botão Exportar CSV -->
  <div class="col-3 px-2 p-0 m-0 d-grid">
    <button
    (click)="exportexcel()"
      type="button"
      class="h-limited btn rounded-15 py-1 px-4 btn-outline-secondary d-flex justify-content-between shadow-sm"
    >
      <h5 class="fw-normal my-auto text-truncate">Exportar CSV</h5>
      <i class="bi-file-earmark-spreadsheet my-auto fs-4 p-0 m-0 fw-bold"></i>
    </button>
  </div>
</div>

<app-adicionar-pagamento (reload)="getContas()"></app-adicionar-pagamento>
<app-edit-contas-p (reload)="getContas()"></app-edit-contas-p>
<app-view-contas-pagar [contas]="contas"></app-view-contas-pagar>
<app-filtro-pagar></app-filtro-pagar>
