<app-navbar></app-navbar>
<div class="row p-0 m-0">
    <div class="col-auto m-0 p-0 bg-custom-light">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col pb-4 m-0 bg-custom-white">
        <!-- Página -->
        <div class="container">
            <!-- Botão de voltar -->
            <div class="row m-0 justify-content-start mt-4">
                <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/rh/apontamentos">
                    <i class="bi-arrow-left fs-3 text-secondary"></i>
                </a>
            </div>
            <div class="col-12 text-center">
                <h1 class="text-custom-dark text-truncate">Ausência</h1>
            </div>
            <!-- Header de faltas -->
            <div class="row m-0 mt-4 justify-content-center">
                <!-- Botão relatório -->
                <div class="col-6 px-2 p-0 m-0">
                  <a class="rounded-15 py-1 px-4 bg-custom-success h-100 d-flex justify-content-between shadow-sm" routerLink="/sistema/rh/ausencia-rel">
                    <h5 class="fw-normal my-auto text-truncate text-custom-dark ">Relatório</h5>
                  </a>
                </div>

                <!-- Pesquisa -->
                <div class="col-6 px-2 p-0 m-0 position-relative">
                  <input class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="text" placeholder="Pesquisar" (keyup)="filtrar($event)">
                  <i class="bi-search fs-4 position-absolute translate-middle top-50 me-4 end-0"></i>
                </div>
            </div>
          <form [formGroup]="ausenciaForm" (ngSubmit)="submitForm(ausenciaForm.value)" class="row">
              <div class="row m-0 my-5 text-custom-dark justify-content-center">
                <div class="col-6 row">
                    <div class="col-1 px-0 m-0 text-center d-flex align-items-center">
                      <i class="button-modal bi-plus-square-fill icon-view my-auto fs-3 p-2 m-0 fw-bold text-custom-dark" cursor="pointer" data-bs-toggle="modal" data-bs-target="#pesquisarColaborador"></i>
                    </div>
                    <div class="col-11 px-2 p-0 m-0 form-floating">
                      <input formControlName="colaborador" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="text" placeholder="Colaborador" readonly>
                      <label class="ms-2 small text-truncate text-custom-dark">Colaborador</label>
                    </div>
                </div>
                <div class="col-6">
                  <div class="col-12 px-2 p-0 m-0 form-floating">
                    <input formControlName="cargo" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="text" placeholder="Colaborador" readonly>
                    <label class="ms-2 small text-truncate text-custom-dark">Cargo</label>
                  </div>
                </div>
              </div>
              <!-- Tabela -->
              <div class="row m-0 mt-3 text-custom-dark justify-content-center" >
                <div class="col-6 row">
                  <label class="col-1 px-0 m-0 text-center d-flex align-items-center" for="add-falta">
                    <i class="bi bi-calendar icon-view my-auto fs-3 p-2 m-0 fw-bold text-custom-dark" cursor="pointer"></i>
                  </label>
                  <div class="col-11 px-2 p-0 m-0 position-relative">
                    <input formControlName="data" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="date" id="add-falta" name="add-falta">
                  </div>
                </div>
                <div class="col-6 row">
                  <div class="col-11 px-2 p-0 m-0 form-floating">
                    <select formControlName="tipo"
                    class="form-select form-select-lg h-limited px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text"
                    placeholder="Necessidade especial">
                    <option value="" disabled selected>Tipo de ausência</option>
                    <option value="Licença maternidade">Licença maternidade</option>
                    <option value="Acidente de trabalho">Acidente de trabalho</option>
                    <option value="Auxílio doença">Auxílio doença</option>
                    <option value="Férias">Férias</option>
                  </select>
                  <label class="ms-2 small text-truncate text-custom-dark">Tipo de Ausência</label>
                </div>
                <div class="col-1 px-0 m-0 text-center d-flex align-items-center">
                  <button type="submit" class="submit-buton h-100 w-100 border border-0 bg-trasnparent" cursor="pointer">
                    <i class="submit-buton button-modal bi bi-check-circle-fill icon-view my-auto fs-3 h-100 w-100 p-2 m-0 fw-bold text-green"></i>
                  </button>
                </div>
              </div>
              <div class="row m-0 my-5 text-custom-dark justify-content-center">
                <div class="col-6">
                  <div class="px-2 p-0 m-0 form-floating">
                    <input formControlName="de" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="date" placeholder="Colaborador">
                    <label class="ms-2 small text-truncate text-custom-dark">De:</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="col-12 px-2 p-0 m-0 form-floating">
                    <input formControlName="ate" class="form-control form-control-lg border-0 h-100 py-2 ps-4 pe-5 rounded-15 shadow-sm" type="date" placeholder="Colaborador">
                    <label class="ms-2 small text-truncate text-custom-dark">Até:</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="tabela row mt-4 text-center">
            <table class="col-12">
                <thead class="header_table col-12">
                    <tr>
                      <td class="lead rounded-start text-center fw-bold">Colaborador</td>
                      <td class="lead text-center fw-bold">Cargo</td>
                      <td class="lead text-center fw-bold">Data</td>
                      <td class="lead text-center fw-bold">Tipo</td>
                      <td class="lead text-center fw-bold">De</td>
                      <td class="lead text-center fw-bold">Até</td>
                      <td class="lead pe-2 rounded-end text-center fw-bold">Ações</td>
                    </tr>
                </thead>
                <tbody class="body_table">
                    <tr *ngFor="let oneColab of colab">
                      <td class="lead text-custom-dark fw-normal">{{oneColab.colaborador}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.cargo}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.data.substring(10, 0)}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.tipo}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.de.substring(10, 0)}}</td>
                      <td class="lead text-custom-dark fw-normal">{{oneColab.ate.substring(10, 0)}}</td>
                      <td class="lead text-custom-dark fw-normal">
                      <i class="w-100 h-100 bi-trash-fill icon-delete p-3" cursor="pointer" (click)="delete(oneColab.id)"></i>
                      </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
<app-pesquisar-colab (value)="selecionar($event)"></app-pesquisar-colab>
