.pdf-button {
    background: #ff6060;
}

.pdf-button:hover {
    background: #ff7e7e;
}

.excel-button {
    background: #51ff65 !important;
}

.excel-button:hover {
    background: #78fc87 !important;
}
