
<!-- Modal -->
<div class="modal fade" id="filtrarClientes" tabindex="-1" aria-labelledby="filtrarClientesLabel"
  aria-hidden="true" aria-label="Close">
  <div class="modal-dialog modal-xl">
      <!-- Modal content -->
      <div class="modal-content rounded-15 bg-custom-light">
        <div class="modal-header px-4">
          <h5 class="modal-title text-custom-dark" id="filtrarClientesLabel">Pesquisar Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
          <div class="row">
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input class="form-control form-control-lg h-limited px-4 py-3 rounded-15 shadow-sm"
              type="text" placeholder="Nome" autocomplete="no" (keyup)="filtrarNome($event)">
              <label class="ms-2 mt-3 small text-truncate text-custom-dark">Nome</label>
            </div>
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input class="form-control form-control-lg h-limited px-4 py-3 rounded-15 shadow-sm"
              type="text" placeholder="E-mail" autocomplete="no" (keyup)="filtrarEmail($event)">
              <label class="ms-2 mt-3 small text-truncate text-custom-dark">E-mail</label>
            </div>
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input class="form-control form-control-lg h-limited px-4 py-3 rounded-15 shadow-sm" mask="(00) 0000-0000 || (00) 00000-0000"
              type="text" placeholder="Telefone" autocomplete="no" (keyup)="filtrarTelefone($event)">
              <label class="ms-2 mt-3 small text-truncate text-custom-dark">Telefone</label>
            </div>
          </div>

         <!-- Lista de clientes -->
          <div class="row py-3 p-0 m-0">
            <div class="row m-0 mt-3 border-bottom text-custom-dark justify-content-center align-items-center" *ngFor="let cliente of clientes">
              <div class="row m-0 mt-3 border-bottom text-custom-dark justify-content-center align-items-center" *ngIf="typeClient(cliente)=='fisica'">
                <div class="col-1">
                  <p>{{ cliente.id }}</p>
                </div>
                <div class="col-2">
                  <p>{{ cliente.name + ' ' + cliente.surname }} </p>
                </div>
                <div class="col-3">
                  <p>{{ cliente.email  }}</p>
                </div>
                <div class="col-2">
                  <p>{{ cliente.telephone }}</p>
                </div>
                <div class="col text-end">
                  <!-- <i class="fs-5 bi-eye-fill icon-view p-3" cursor="pointer"></i> -->
                  <i routerLink="../editar/{{cliente.id}}/cadastro" class="fs-5 bi-pen-fill icon-edit p-3" cursor="pointer" data-bs-dismiss="modal" *ngIf="create"></i>
                  <!-- <i class="fs-5 bi-trash-fill icon-delete p-3" cursor="pointer"></i> -->
                </div>
              </div>
              <div class="row m-0 mt-3 border-bottom text-custom-dark justify-content-center align-items-center" *ngIf="typeClient(cliente)=='juridica'">
                <div class="col-1">
                  <p>{{ cliente.id }}</p>
                </div>
                <div class="col-2">
                  <p>{{ cliente.fantasyName }} </p>
                </div>
                <div class="col-3">
                  <p>{{ cliente.companyEmail }}</p>
                </div>
                <div class="col-2">
                  <p>{{ cliente.companyTelephone }}</p>
                </div>
                <div class="col text-end">
                  <!-- <i class="fs-5 bi-eye-fill icon-view p-3" cursor="pointer"></i> -->
                  <i *ngIf="create" routerLink="../editar/{{cliente.id}}/cadastro" class="fs-5 bi-pen-fill icon-edit p-3" cursor="pointer" data-bs-dismiss="modal"></i>
                  <!-- <i class="fs-5 bi-trash-fill icon-delete p-3" cursor="pointer"></i> -->
                </div>
              </div>
            </div>
          </div>
          <!-- Dados cadastrais -->
        </div>
        <!-- Modal footer -->
        <div class="row m-0 py-3 modal-footer">

          <!-- Cancelar -->
          <div class="col-3 px-2 p-0 m-0 d-grid">
            <button data-bs-dismiss="modal" type="reset"
              class="h-limited-sm btn rounded-15 py-1 px-4 bg-light shadow-sm text-start">
              <h5 class="fw-normal my-auto text-truncate text-custom-dark">Cancelar</h5>
            </button>
          </div>

        </div>
        <!-- /Modal footer -->

      </div>
      <!-- /Modal content -->

  </div>
</div>