<!-- Modal -->
<div class="modal fade" id="viewPedido" tabindex="-1" aria-labelledby="viewProdutosLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form [formGroup]="pedidoCompraForm">
            <!-- Modal content -->
            <div class="modal-content rounded-15 bg-custom-light">
                <div class="modal-header px-4">
                    <h5 class="modal-title text-custom-dark" id="viewPedidosLabel">
                        Dados do Pedido
                    </h5>
                    <button type="button" class="btn-close" #close data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4">
                    <!-- Info Pedido -->
                    <div class="row pt-3 p-0 m-0 border-bottom pb-4">
                        <div class="col-12 px-2 m-0 p-0">
                            <h5 class="fw-bold text-custom-dark m-0 p-0">Dados Gerais</h5>
                        </div>

                        <!-- Data -->
                        <div class="col-8 px-2 pt-4 p-0 m-0 form-floating">
                            <input class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm" type="date" placeholder="data" formControlName="data" />
                            <label class="ms-2 mt-3 small text-truncate text-custom-dark">Data</label
              >
            </div>

            <!-- Fornecedor -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="Fornecedor"
                formControlName="fornecedor"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Fornecedor</label
              >
            </div>

            <!-- Razao Social -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="razao social"
                formControlName="razaoSocial"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Razao Social</label
              >
            </div>

            <!-- CNPJ -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="cnpj"
                formControlName="cnpj"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >CNPJ</label
              >
            </div>

            <!-- cep -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="cep"
                formControlName="cep"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >cep</label
              >
            </div>

            <!-- endereco -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="endereco"
                formControlName="endereco"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >endereco</label
              >
            </div>

            <!--complemento -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="complemento"
                formControlName="complemento"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >complemento</label
              >
            </div>

            <!-- Condicao de pagamento -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="condicao de pagamento"
                formControlName="condPagamento"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Condicao de pagamento</label
              >
            </div>

            <!--Meio de Pagamento -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="meioPag"
                formControlName="meioPag"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Meio de Pagamento</label
              >
            </div>
            <!-- Status -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="status"
                formControlName="status"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Status do Pedido</label
              >
            </div>

            <!-- Valor COFINS fixo -->
            <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
              <input
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="date"
                placeholder="data vencimento"
                formControlName="dataVenc"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Data Vencimento</label
              >
            </div>
          </div>

          <!-- Valores -->
          <div class="row pt-3 p-0 m-0 border-bottom pb-4">
            <div class="col-12 px-2 m-0 p-0">
              <h5 class="fw-bold text-custom-dark m-0 p-0">Valores</h5>
            </div>

            <!-- Descrição -->
            <div class="col-8 px-2 pt-4 p-0 m-0 form-floating">
              <input
                mask="separator,2"
                prefix="R$"
                thousandSeparator="."
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="subtotal"
                formControlName="subtotal"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Subtotal</label
              >
            </div>

            <!-- Desconto -->
            <div class="col-2 px-2 pt-4 p-0 m-0 form-floating">
              <input
                mask="separator,2"
                prefix="R$"
                thousandSeparator="."
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="desconto"
                formControlName="desconto"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Desconto</label
              >
            </div>

            <!-- Frete -->
            <div class="col-2 px-2 pt-4 p-0 m-0 form-floating">
              <input
                mask="separator,2"
                prefix="R$"
                thousandSeparator="."
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="frete"
                formControlName="frete"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Frete</label
              >
            </div>

            <!-- Encargos -->
            <div class="col-2 px-2 pt-4 p-0 m-0 form-floating">
              <input
                mask="separator,2"
                prefix="R$"
                thousandSeparator="."
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="encargos"
                formControlName="encargos"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Encargos</label
              >
            </div>

            <!-- Total da Compra -->
            <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
              <input
                mask="separator,2"
                prefix="R$"
                thousandSeparator="."
                class="form-control h-limited-sm px-4 py-3 rounded-15 shadow-sm"
                type="text"
                placeholder="valorTotal"
                formControlName="valorTotal"
              />
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Total da Compra</label
              >
            </div>

            <!-- Informações adicionais -->
            <div class="col-12 px-2 pt-4 p-0 m-0 form-floating">
              <textarea
                class="form-control form-control-lg px-4 py-3 rounded-15 shadow-sm"
                placeholder="Informações adicionais"
                style="height: 150px"
                formControlName="obs"
              ></textarea>
              <label class="ms-2 mt-3 small text-truncate text-custom-dark"
                >Observações</label
              >
            </div>

            <!-- Fornecedores padrão -->
            <!-- <div *ngFor="let fornecedor of fornecedorArray['controls']; let i = index" formArrayName="fornecedores">
              <div [formGroupName]="i" class="col-11 px-2 pt-4 p-0 m-0 d-flex align-items-center form-floating">
                <select class="form-select h-limited-sm px-4 py-1 rounded-15 shadow-sm" formControlName="id">
                  <option selected disabled>Selecione um fornecedor</option>
                  <option *ngFor="let fornecedor of fornecedores" value="{{fornecedor.id}}">{{fornecedor.fantasy_name}}</option>
                </select>
              </div>
            </div> -->
          </div>
        </div>

        <!-- Modal footer -->
        <div class="row m-0 py-3 modal-footer"></div>
        <!-- /Modal footer -->
      </div>
      <!-- /Modal content -->
    </form>
  </div>
</div>
