<app-navbar></app-navbar>

<div class="row p-0 m-0">
  <div class="col-auto m-0 p-0 bg-custom-light">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="col pb-4 m-0 bg-custom-white">
    <!-- Página -->
    <div class="container">

      <!-- Botão de voltar -->
      <div class="row m-0 justify-content-start mt-4">
        <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/">
          <i class="bi-arrow-left fs-3 text-secondary"></i>
        </a>
      </div>

      <div class="row m-0 my-4">
        <div class="col-12">
          <ul class="nav nav-tabs fs-5 fw-lighter">
            <li class="nav-item px-1">
              <a class="nav-link px-4" [class.active]="estoqueSection == 'fornecedores'" (click)="toggleEstoqueSection('fornecedores')">Fornecedores</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link px-4" [class.active]="estoqueSection == 'produtos'" (click)="toggleEstoqueSection('produtos')">Produtos</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link px-4" [class.active]="estoqueSection == 'suprimentos'" (click)="toggleEstoqueSection('suprimentos')">Suprimentos</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link px-4" [class.active]="estoqueSection == 'estoque'" (click)="toggleEstoqueSection('estoque')">Estoque</a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="estoqueSection == 'fornecedores'">
        <app-fornecedores></app-fornecedores>
      </div>

      <div *ngIf="estoqueSection == 'produtos'">
        <app-produtos></app-produtos>
      </div>

      <div *ngIf="estoqueSection == 'suprimentos'">
        <app-suprimentos></app-suprimentos>
      </div>

      <div *ngIf="estoqueSection == 'estoque'">
      </div>

    </div>
    <!-- /Página -->
  </div>
</div>