#sidebar {
  min-width: 180px;
  max-width: 180px;
  transition: all 0.4s;
  height: 100vh;
  position: absolute;
  left: -20rem;
}

#sidebar.hide {
  left: 5rem;
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

.nav-item{
  height: 3.5rem;
}

.nav-title{
  height: 3.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

