<app-navbar></app-navbar>

<div class="row p-0 m-0">
    <div class="col-auto m-0 p-0 bg-custom-light">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col m-0 bg-custom-white">
        <!-- Página home -->
        <div class="container pb-5">
            <!-- Botão de voltar -->
            <div class="row m-0 justify-content-start mt-4">
                <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/configuracoes/lojas-cadastradas/lista">
                    <i class="bi-arrow-left fs-3 text-secondary"></i>
                </a>
            </div>

            <div class="row m-0 mt-4 py-3 border-bottom">
                <div class="col-12 m-0 p-0 text-custom-dark">
                    <h4>Cadastro de loja</h4>
                </div>
            </div>

            <form [formGroup]="filialForm" (ngSubmit)="submitForm(filialForm)">
                <!-- Criar pedido -->
                <div class="row">
                    <!-- Nome -->
                    <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
                        <input class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm" type="text" placeholder="Nome" id="nome" formControlName="nome" />
                        <label class="ms-2 mt-3 small text-truncate text-custom-dark">Nome</label
            >
          </div>

          <!-- CNPJ -->
          <div class="col-6 px-2 pt-4 p-0 m-0 form-floating">
            <input
              class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm"
              type="text"
              mask="00.000.000/0000-00"
              placeholder="CNPJ"
              id="cnpj"
              formControlName="cnpj"
            />
            <label class="ms-2 mt-3 small text-truncate text-custom-dark"
              >CNPJ</label
            >
          </div>

          <!-- Logradouro -->
          <div class="col-8 px-2 pt-4 p-0 m-0 form-floating">
            <input
              class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm"
              type="text"
              placeholder="Logradouro"
              id="logradouro"
              formControlName="logradouro"
            />
            <label class="ms-2 mt-3 small text-truncate text-custom-dark"
              >Logradouro</label
            >
          </div>

          <!-- CEP -->
          <div class="col-2 px-2 pt-4 p-0 m-0 form-floating">
            <input
              class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm"
              type="text"
              mask="00000-000"
              placeholder="CEP"
              formControlName="cep"
              id="cep"
              #cep
              (keyup)="cepInstitution(cep.value)"
            />
            <label class="ms-2 mt-3 small text-truncate text-custom-dark"
              >CEP</label
            >
          </div>

          <!-- Número -->
          <div class="col-2 px-2 pt-4 p-0 m-0 form-floating">
            <input
              class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm"
              type="text"
              placeholder="Número"
              formControlName="numero"
              id="numero"
            />
            <label class="ms-2 mt-3 small text-truncate text-custom-dark"
              >Número</label
            >
          </div>

          <!-- Cidade -->
          <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
            <input
              class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm"
              type="text"
              placeholder="Cidade"
              formControlName="cidade"
              id="cidade"
            />
            <label class="ms-2 mt-3 small text-truncate text-custom-dark"
              >Cidade</label
            >
          </div>

          <!-- Bairro -->
          <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
            <input
              class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm"
              type="text"
              placeholder="Bairro"
              formControlName="bairro"
              id="bairro"
            />
            <label class="ms-2 mt-3 small text-truncate text-custom-dark"
              >Bairro</label
            >
          </div>

          <!-- Capacidade de estoque -->
          <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
            <input
              class="form-control form-control-lg h-100 px-4 py-3 rounded-15 shadow-sm"
              type="number"
              placeholder="Capacidade de estoque"
              formControlName="capacidade"
              id="capacidade"
            />
            <label class="ms-2 mt-3 small text-truncate text-custom-dark"
              >Capacidade de estoque</label
            >
          </div>

          <!-- adicionar banner -->
          <div class="col-4 px-2 pt-4 p-0 m-0">
            <div class="upload__image rounded-15 shadow-sm p-3">
              <label
                class="upload__image--wrapper"
                (input)="uploadImage($event)"
              >
                <input type="file" />
                <img src="./assets/add.png" alt="" class="upload__image--img" />

                <span
                  class="mt-3 btn rounded-15 py-1 px-4 btn-outline-secondary"
                  >{{ text }}</span
                >
              </label>
                    </div>

                    <small class="ps-3">*dimensão do banner 1920x500 pixels</small>
                </div>
        </div>

        <!-- Footer -->
        <div class="row mt-5 py-3 pb-5 justify-content-end">
            <!-- Botão Cancelar -->
            <div class="col-3 px-2 p-0 m-0 d-grid">
                <button type="button" class="h-limited btn rounded-15 py-1 px-4 btn-outline-secondary d-flex justify-content-between shadow-sm">
              <h5 class="fw-normal my-auto text-truncate">Cancelar</h5>
              <i class="bi-x my-auto fs-2 p-0 m-0 fw-bold"></i>
            </button>
            </div>

            <!-- Botão Salvar -->
            <div class="col-3 px-2 p-0 m-0 d-grid">
                <button type="submit" class="h-limited btn rounded-15 py-1 px-4 bg-custom-success d-flex justify-content-between shadow-sm">
              <h5 class="fw-normal my-auto text-truncate text-custom-dark">
                Salvar
              </h5>
              <i
                class="bi-plus my-auto fs-2 p-0 m-0 fw-bold text-custom-dark"
              ></i>
            </button>
            </div>
        </div>
        </form>
    </div>
</div>
</div>