<div class="row m-0 justify-content-end">

  <!-- Selecionar mês -->
  <div class="col-2 px-2 pt-4 p-0 m-0">
    <select class="form-select form-select-lg h-100 px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Restrição">
      <option value="janeiro">Janeiro</option>
      <option value="fevereiro">Fevereiro</option>
      <option value="março">Março</option>
      <option value="abril">Abril</option>
      <option value="maio">Maio</option>
      <option value="junho">Junho</option>
      <option value="julho">Julho</option>
      <option value="agosto">Agosto</option>
      <option value="setembro">Setembro</option>
      <option value="outubro">Outubro</option>
      <option value="novembro">Novembro</option>
      <option value="dezembro">Dezembro</option>
    </select>
  </div>

  <!-- Selecionar mês -->
  <div class="col-2 px-2 pt-4 p-0 m-0">
    <select class="form-select form-select-lg h-100 px-4 py-3 rounded-15 shadow-sm text-custom-dark" type="text" placeholder="Restrição">
      <option *ngFor="let ano of anos" [value]="ano">{{ano}}</option>
    </select>
  </div>

  <div class="col-2 d-grid px-2 pt-4 p-0 m-0">
    <button type="button"
      class="btn rounded-15 py-3 px-4 bg-custom-success h-limited d-flex justify-content-between shadow-sm">
      <h5 class="fw-normal my-auto text-truncate text-custom-dark">Gerar relatório</h5>
    </button>
  </div>

</div>


<!-- Títulos da Tabela -->
<div class="row m-0 my-5 text-custom-dark">
  <div class="col-1">
    <h5 class="fw-bold text-truncate">Pedido</h5>
  </div>
  <div class="col-1">
    <h5 class="fw-bold text-truncate">Data</h5>
  </div>
  <div class="col-2">
    <h5 class="fw-bold text-truncate">Referência</h5>
  </div>
  <div class="col-3">
    <h5 class="fw-bold text-truncate">Descrição</h5>
  </div>
  <div class="col-1">
    <h5 class="fw-bold text-truncate">Qtd.</h5>
  </div>
  <div class="col-1">
    <h5 class="fw-bold text-truncate">Preço</h5>
  </div>
  <div class="col-1">
    <h5 class="fw-bold text-truncate">Valor</h5>
  </div>
  <div class="col-1">
    <h5 class="fw-bold text-truncate">Total</h5>
  </div>
</div>

<!-- Tabela -->
<div class="row m-0 mt-3 border-bottom text-custom-dark align-items-center" *ngFor="let pedido of pedidos">
  <div class="col-1">
    <p>{{ pedido.id }}</p>
  </div>
  <div class="col-1">
    <p>{{ pedido.data }}</p>
  </div>
  <div class="col-2">
    <p>{{ pedido.referencia }}</p>
  </div>
  <div class="col-3">
    <p>{{ pedido.descricao }}</p>
  </div>
  <div class="col-1">
    <p>{{ pedido.quantidade }}</p>
  </div>
  <div class="col-1">
    <p>{{ pedido.preco | currency:'BRL' }}</p>
  </div>
  <div class="col-1">
    <p>{{ pedido.valor | currency:'BRL' }}</p>
  </div>
  <div class="col-1">
    <p>{{ pedido.total | currency:'BRL' }}</p>
  </div>

<div class="row m-0 pb-4 mt-4 justify-content-end">
          
</div>