<app-navbar></app-navbar>

<div class="row p-0 m-0">
    <div class="col-auto m-0 p-0 bg-custom-light">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="col m-0 bg-custom-white">
      <!-- Página home -->
      <div class="container">
  
        <!-- Botão de voltar -->
        <div class="row m-0 justify-content-start mt-4">
          <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/expedicao/cadastro/motorista">
            <i class="bi-arrow-left fs-3 text-secondary"></i>
          </a>
        </div>

        <div class="col-12 text-center">
          <h1 class="text-custom-dark text-truncate">Cadastrar novo motorista</h1>
        </div>
        
        <form [formGroup]="motoristaForm">
            <div class="row">

                <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
                    <input
                    class="form-control form-control-lg h-limited px-4 py-3 rounded-15 shadow-sm" type="text" 
                    placeholder="Nome"
                    formControlName="nome">
                    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Nome</label>
                </div>
                <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
                    <input
                    class="form-control form-control-lg h-limited px-4 py-3 rounded-15 shadow-sm" type="text" 
                    placeholder="Categoria"
                    formControlName="categoria">
                    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Categoria</label>
                </div>
                <div class="col-4 px-2 pt-4 p-0 m-0 form-floating">
                    <input
                    class="form-control form-control-lg h-limited px-4 py-3 rounded-15 shadow-sm" type="date" 
                    placeholder="Ultima data de emabrque"
                    formControlName="ultimaDataEmbarque">
                    <label class="ms-2 mt-3 small text-truncate text-custom-dark">Ultima data de embarque</label>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>