button.submit-buton{
    background: transparent;
    color: #000;
}
button.submit-buton:hover:hover{
    background: transparent;
}

.header_table {
    background-color: hsl(357, 85%, 51%);;
    color: #fff;
  }
  
  .body_table {
    background-color: #fdfbfb;
  }

.label{
  width: 12%;
}