@import "../../../../_variables.scss";

button.button-modal{
    border: none;
    background: transparent;
}

.overlay{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link.active {
  background: transparent;
  font-weight: normal;
  &:hover {
    background-color: transparent;
  }
}

.nav-link {
  background-color: $custom-dark;
  color: $custom-light;
  &:hover {
    background-color: #464646;
  }
}