<app-navbar></app-navbar>
<div class="row p-0 m-0">
    <div class="col-auto m-0 p-0 bg-custom-light">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col pb-4 m-0 bg-custom-white">
        <!-- Página -->
        <div class="container">
        <!-- Botão de voltar -->
            <div class="row m-0 justify-content-start mt-4">
                <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/rh/">
                    <i class="bi-arrow-left fs-3 text-secondary"></i>
                </a>
            </div>
        </div>

        <div class="col-12 text-center">
            <h1 class="text-custom-dark text-truncate">Controle de Vale Transporte</h1>
        </div>

        <div class="tabela col-12 mt-4">

                <div class="col-12 row border border-1 border-custom-dark m-0 p-0">
                    <div class="col row h3 m-0 p-0 border border-1 border-custom-dark">
                        <p class="w-100 h-100 text-center text-custom-dark">
                            Colaborador
                        </p>
                    </div>
                    <div class="col row h3 m-0 p-0 border border-1 border-custom-dark">
                        <p class="w-100 h-100 text-center text-custom-dark">
                            Valor total da passagem
                        </p>
                    </div>
                    <div class="col row h3 m-0 p-0 border border-1 border-custom-dark">
                        <p class="w-100 h-100 text-center text-custom-dark">
                            Dias
                        </p>
                    </div>
                    <div class="col row h3 m-0 p-0 border border-1 border-custom-dark">
                        <p class="w-100 h-100 text-center text-custom-dark">
                            Total
                        </p>
                    </div>
                </div>
                <form class="row m-0 p-0" [formGroup]="vtForm" (submit)="salvar(vtForm.value)">
                    <div class="col-12 row border border-1 border-custom-dark m-0 p-0" *ngFor="let value of vt['controls']; let i = index" formArrayName="vt">
                        <div class="col-12 row m-0 p-0" [formGroupName]="i">
                            <div class="col row h3 m-0 p-0 border border-1 border-custom-dark">
                                <div class="p-0 m-0 form-floating">
                                    <input formControlName="name"
                                    class="form-control form-control-lg shadow-sm" type="text"
                                    placeholder="Dias trabalhados" readonly>
                                </div>
                            </div>
                            <div class="col row h3 m-0 p-0 border border-1 border-custom-dark">
                                <div class="p-0 m-0 form-floating">
                                    <input currencyMask placeholder="R$" formControlName="originalTotal"
                                    class="form-control form-control-lg shadow-sm" type="text"
                                    placeholder="Valor da passagem" readonly>
                                </div>
                            </div>
                            <div class="col row h3 m-0 p-0 border border-1 border-custom-dark">
                                <div class="p-0 m-0 form-floating">
                                    <input formControlName="workDays"
                                    class="form-control form-control-lg shadow-sm" type="number"
                                    placeholder="Dias trabalhados">
                                    <label class="pl-1 pt-1 small text-truncate text-custom-dark">Dias trabalhados</label>
                                </div>
                            </div>
                            <div class="col row h3 m-0 p-0 border border-1 border-custom-dark">
                                <div class="p-0 m-0 form-floating">
                                    <input currencyMask placeholder="R$" formControlName="total"
                                        class="form-control form-control-lg shadow-sm" type="text"
                                        placeholder="Dias trabalhados" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 mt-4 justify-content-end">

                        <!-- Botão Salvar -->
                        <div class="col-4 d-grid px-2 p-0 m-0">
                          <button type="submit"
                            class="btn rounded-15 py-3 px-4 bg-custom-success h-limited d-flex justify-content-center shadow-sm">
                            <h5 class="fw-normal my-auto text-truncate text-custom-dark text-center">Salvar</h5>
                          </button>
                        </div>

                    </div>
                </form>
        </div>
         <div class="col-12 row">
                <div class="col-10 row">
                    <!-- <div class="col-4 row m-auto">
                        <a class="rounded-15 py-1 px-4 bg-custom-dark h-100 d-flex justify-content-between shadow-sm" routerLink="/sistema/rh/relatorio">
                            <h5 class="w-100 fw-normal my-auto text-truncate text-white text-center">Anterior</h5>
                        </a>
                    </div>
                    <div class="col-4 row m-auto">
                        <a class="rounded-15 py-1 px-4 bg-custom-dark h-100 d-flex justify-content-between shadow-sm" routerLink="/sistema/rh/relatorio">
                            <h5 class="w-100 fw-normal my-auto text-truncate text-white text-center">Anterior</h5>
                        </a>
                    </div> -->
                </div>
                <div class="col-2 row">
                    <button class="m-1 col px-0 m-0 pdf-button rounded text-white text-center border-0" for="add-falta" data-bs-toggle="modal" data-bs-target="#generateVtPdf">
                        <i class="bi bi-file-earmark-pdf-fill icon-view my-auto fs-3 p-2 m-0 fw-bold text-custom-dark text-white" cursor="pointer" ></i>
                    </button>
                    <button class="m-1 col px-0 m-0 excel-button rounded text-center border-0" for="add-falta" (click)="exportexcel()">
                        <i class="bi bi-file-excel icon-view my-auto fs-3 p-2 m-0 fw-bold text-custom-dark text-white" cursor="pointer"></i>
                    </button>
                </div>

            </div>
    </div>
</div>
<app-relatorio-vt></app-relatorio-vt>
