<app-navbar></app-navbar>

<div class="row p-0 m-0">
  <div class="col-auto m-0 p-0 bg-custom-light">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="col pb-4 m-0 bg-custom-white">
    <!-- Página -->
    <div class="container">

      <!-- Botão de voltar -->
      <div class="row m-0 justify-content-start mt-4">
        <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/">
          <i class="bi-arrow-left fs-3 text-secondary"></i>
        </a>
      </div>

      <div class="row m-0 mt-4">
        <div class="col-12">
          <ul class="nav nav-tabs fs-5 fw-lighter">
            <li class="nav-item px-1">
              <a class="nav-link px-4" [class.active]="clienteSection == 'cadastro'" (click)="toggleClienteSection('cadastro')">Cadastro do cliente</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link px-4" [class.active]="clienteSection == 'avaliacao'" (click)="toggleClienteSection('avaliacao')">Avaliação de crédito</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link px-4" [class.active]="clienteSection == 'pedidos'" (click)="toggleClienteSection('pedidos')">Pedidos realizados</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link px-4" [class.active]="clienteSection == 'resumo'" (click)="toggleClienteSection('resumo')">Resumo financeiro</a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="clienteSection == 'cadastro'">
        <app-cadastrar-cliente></app-cadastrar-cliente>
      </div>

      <div *ngIf="clienteSection == 'avaliacao'">
        <app-avaliacao-credito></app-avaliacao-credito>
      </div>

    </div>
    <!-- /Página -->
  </div>
</div>