// Configurações gerais

// Paleta de cores
$custom-primary: hsl(357, 85%, 51%);
$custom-primary-dark: hsl(357, 65%, 40%);
$custom-light: hsl(222, 36%, 95%);
$custom-dark: hsl(300, 1%, 36%);

$primary: $custom-primary;

@import "node_modules/bootstrap/scss/bootstrap.scss";

// Barra de scroll
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $custom-dark;
}
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}

[cursor="pointer"] {
  cursor: pointer;
}

.rounded {
  &-15 {
    border-radius: 15px !important;
  }
  &-25 {
    border-radius: 25px !important;
  }
}

.bg-custom {
  &-white {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 239, 246, 1) 75%);
  }
  &-light {
    background-color: $custom-light;
  }
  &-success {
    background-color: #93f89e;
  }
}

a {
  cursor: pointer;
  text-decoration: none !important;
  &:hover {
    filter: brightness(0.98) !important;
    color: $custom-dark;
  }
  &.text-custom-dark {
    &:hover {
      color: $custom-dark;
      filter: brightness(0.75) !important;
    }
  }
}

.text-custom-dark {
  color: $custom-dark;
}

// Ícones de visualizar, editar e deletar
.icon {
  &-view {
    &:hover {
      color: $blue;
    }
  }
  &-edit {
    &:hover {
      color: $warning;
    }
  }
  &-delete {
    &:hover {
      color: $primary;
    }
  }
}
