.tabela{
    min-height: 300px;
}
// .tabela-hidden{
//     width: 600px;
//     display: none;
// }

.pdf-button{
    background: #ff6060;
}

.pdf-button:hover{
    background: #ff7e7e;
}

.excel-button{
   background: #51ff65;
}

.excel-button:hover{
    background: #78fc87;
}

.header_table {
  background-color: hsl(357, 85%, 51%);;
  color: #fff;
}

.body_table {
  background-color: #fdfbfb;
}
