<app-navbar></app-navbar>

<div class="row p-0 m-0">
  <div class="col-auto m-0 p-0 bg-custom-light">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="col m-0 bg-custom-white">
    <!-- Página home -->
    <div class="container">

      <!-- Botão de voltar -->
      <div class="row m-0 justify-content-start mt-4">
        <a class="col-1 p-1 bg-white rounded-15 text-center my-auto" routerLink="/sistema/vendas">
          <i class="bi-arrow-left fs-3 text-secondary"></i>
        </a>
      </div>


      <!-- Adicionar -->
      <div class="row m-0 mt-4 justify-content-start">

        <!-- Botão Adicionar -->
        <div class="col-4 px-2 p-0 m-0">
          <a class="rounded-15 py-1 px-4 bg-custom-success h-limited d-flex justify-content-between shadow-sm" routerLink="/sistema/vendas/clientes/cadastro">
            <h5 class="fw-normal my-auto text-truncate text-custom-dark ">Adicionar</h5>
            <i class="bi-plus my-auto fs-2 p-0 m-0 fw-bold text-custom-dark "></i>
          </a>
        </div>

      </div>

      <!-- Títulos da Tabela -->
      <div class="row m-0 my-5 text-custom-dark justify-content-center">
        <div class="col-1">
          <h5 class="fw-bold text-truncate">ID</h5>
        </div>
        
        <div class="col-2">
          <h5 class="fw-bold text-truncate">Nome</h5>
        </div>
        <div class="col-3">
          <h5 class="fw-bold text-truncate">E-mail</h5>
        </div>
        <div class="col-2">
          <h5 class="fw-bold text-truncate">Telefone</h5>
        </div>
        <div class="col text-end">
          <h5 class="fw-bold text-truncate d-none">Ações</h5>
          <i class="fs-5 bi-search icon-search px-2 py-1 mx-2 bg-white shadow-sm rounded-5" cursor="pointer"></i>
          <i class="fs-5 bi-funnel icon-filter px-2 py-1 mx-2 bg-white shadow-sm rounded-5" cursor="pointer"></i>
        </div>
      </div>

      <!-- Tabela -->
      <div class="row m-0 mt-3 border-bottom text-custom-dark justify-content-center align-items-center" *ngFor="let cliente of clientes">
        <div class="col-1">
          <p>{{ cliente.id }}</p>
        </div>
        <div class="col-2">
          <p>{{ cliente.name + ' ' + cliente.surname }} </p>
        </div>
        <div class="col-3">
          <p>{{ cliente.email  }}</p>
        </div>
        <div class="col-2">
          <p>{{ cliente.telephone }}</p>
        </div>
        <div class="col text-end">
          <i class="fs-5 bi-eye-fill icon-view p-3" cursor="pointer"></i>
          <i class="fs-5 bi-pen-fill icon-edit p-3" cursor="pointer"></i>
          <!-- <i class="fs-5 bi-trash-fill icon-delete p-3" cursor="pointer"></i> -->
        </div>
      </div>

    </div>
  </div>
</div>
